div {
  box-sizing: border-box;
}

body {
  max-width: 895px;
  min-width: 895px;
  font-family: 'TH Sarabun New';
  font-weight: normal;
  line-height: 1.3;
  color: black;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

.header {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  padding-right: 5px;
}

.header.align-right {
  text-align: right;
}

.body {
  width: 100%;
  border: 2px solid black;
}

.body.body-table {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

.body.body-before-table {
  border-bottom: 0;
}

.body.body-after-table {
  border-top: 0;
}

.footer {
  font-size: 18px;
}

.footer .sign-name-wrapper {
  padding: 4px 10px;
  height: 133px;
  margin-left: 250px;
}

.footer .sign-name-wrapper .sign {
  width: 100%;
  margin-top: 40px;
}

.footer .sign-name-wrapper .sign .label {
  float: left;
  width: 65px;
}

.footer .sign-name-wrapper .sign .data {
  float: left;
  padding: 0 5px;
  position: relative;
  width: 282px;
  margin-left: 2px;
  margin-right: 2px;
  height: 26px;
  text-align: center;
}

.footer .sign-name-wrapper .sign .data:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 4px;
  height: 1px;
  width: 98%;
  left: 1%;
  right: 1%;
  background-color: #BEBEBE;
}

.footer .sign-name-wrapper .sign .unit {
  float: left;
  width: 162px;
  text-align: right;
}

.footer .sign-name-wrapper .name {
  width: 100%;
}

.footer .sign-name-wrapper .name .label-first {
  float: left;
  width: 75px;
  text-align: right;
  padding-right: 4px;
}

.footer .sign-name-wrapper .name .data {
  float: left;
  padding: 0 5px;
  position: relative;
  width: 262px;
  margin-left: 2px;
  margin-right: 2px;
  height: 26px;
  text-align: center;
}

.footer .sign-name-wrapper .name .data:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 4px;
  height: 1px;
  width: 98%;
  left: 1%;
  right: 1%;
  background-color: #BEBEBE;
}

.footer .sign-name-wrapper .name .label-last {
  float: left;
  width: 162px;
  text-align: left;
  padding-left: 4px;
}

.footer .note {
  font-size: 20px;
  margin-left: 15px;
}

.footer .pagination {
  float: right;
}

.footer .pagination .label {
  font-size: 18px;
}

.footer .pagination .data {
  width: 30px;
  font-size: 18px;
}

.footer .pagination .unit {
  float: left;
  font-size: 18px;
}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
}

.section {
  float: left;
  width: 100%;
}

.section .section-row {
  padding-left: 15px;
}

.section .section-row.with-title {
  padding-left: 0;
}

.section .section-row.name .data {
  width: 833px;
}

.section .section-row.name .section-data-set.full-name .data {
  width: 400px;
}

.section .section-row.name .section-data-set.tel .data {
  width: 280px;
}

.section .section-row.name .section-data-set.request-id .data {
  width: 150px;
}

.section .section-row.name .section-data-set.register-id .data {
  width: 280px;
}

.section .section-row.address {
  /* .section-data-set {
       &.sub-district {
          .data {
            width: 222px;
          }
        }

        &.district {
          .data {
            width: 222px;
          }
        }

        &.province {
          .data {
            width: 216px;
          }
        }

        &.zip-code {
          .data {
            width: 131px;
          }
        }

        &.country {
          .data {
            width: 317px;
          }
        }

        &.nationality {
          .data {
            width: 216px;
          }
        }

        &.job {
          .data {
            width: 180px;
          }
        }

        &.mobile {
          .data {
            width: 135px;
          }
        }

        &.fax {
          .data {
            width: 135px;
          }
        }

        &.email {
          .data {
            width: 208px;
          }
        }
      } */
}

.section .section-row.address .data {
  width: 825px;
}

.section .section-row.additional {
  margin: 5px 0;
  padding-left: 20px;
  padding-right: 5px;
}

.section .section-row.additional .text {
  font-size: 20px;
  float: left;
}

.section .section-row.additional .container {
  float: right;
}

.section .section-row.text-full .data {
  width: 856px;
  text-align: left;
}

.section.logo-and-officer-input {
  border-bottom: 2px solid black;
}

.section.appellant {
  padding-bottom: 10px;
}

.section.page-2 {
  border-bottom: 0;
}

.logo-wrapper {
  width: 615px;
  text-align: center;
  border-right: 2px solid black;
  height: 243px;
  float: left;
}

.logo-wrapper .logo-wrapper-inner {
  padding-top: 20px;
}

.logo-wrapper .logo-wrapper-inner.logo-wrapper-inner-2 {
  padding-top: 50px;
}

.logo-wrapper .logo-wrapper-inner .logo {
  width: 80px;
}

.logo-wrapper .logo-wrapper-inner .pdf-title {
  font-size: 26px;
  margin-top: 20px;
}

.logo-wrapper .logo-wrapper-inner .pdf-sub-title {
  font-size: 22px;
}

.logo-wrapper .logo-wrapper-inner .mark-type {
  margin: 40px auto 0;
}

.logo-wrapper .logo-wrapper-inner .mark-type .container {
  display: inline-block;
  font-size: 22px;
  margin-right: 15px;
  font-weight: bold;
}

.logo-wrapper .logo-wrapper-inner .mark-type .container .span {
  font-size: 20px;
}

.logo-wrapper .logo-wrapper-inner .mark-type .container:last-child {
  margin-right: 0;
}

.officer-input {
  width: 275px;
  float: left;
  height: 243px;
  font-size: 20px;
}

.officer-input .caption {
  text-align: center;
  width: 100%;
  border-bottom: 2px solid black;
  height: 30px;
  padding-top: 3px;
}

.reqeust-date {
  height: 81px;
  width: 100%;
  border-bottom: 2px solid black;
  padding: 10px 10px;
}

.reqeust-date .label {
  /* float: left;
    width: 21%; */
  width: 100%;
  padding-top: 5px;
  line-height: 1;
}

.reqeust-date .data {
  /* width: 77%; */
  width: 99%;
  line-height: 1.1;
  padding-left: 15px;
  padding-right: 15px;
}

.fee-wrapper {
  padding: 4px 10px;
  height: 132px;
  /* border-bottom: 2px solid black; */
  /*.fee {
    width: 100%;

    .label {
      float: left;
    }

    .data {
      float: left;
      padding: 0 5px;
      position: relative;
      width: 145px;
      margin-left: 3px;
      margin-right: 2px;
      height: 26px;
      text-align: center;

      &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 4px;
        height: 1px;
        width: 98%;
        left: 1%;
        right: 1%;
        background-color: #BEBEBE;
      }
    }

    .unit {
      float: left;
    }
  }*/
}

.fee-wrapper .sign {
  width: 100%;
  margin-top: 50px;
}

.fee-wrapper .sign .label {
  float: left;
  width: 40px;
}

.fee-wrapper .sign .data {
  float: left;
  padding: 0 5px;
  position: relative;
  width: 182px;
  margin-left: 2px;
  margin-right: 2px;
  height: 26px;
  text-align: center;
}

.fee-wrapper .sign .data:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 4px;
  height: 1px;
  width: 98%;
  left: 1%;
  right: 1%;
  background-color: #BEBEBE;
}

.fee-wrapper .sign .unit {
  float: left;
  width: 27px;
  text-align: right;
}

.fee-wrapper .name {
  width: 100%;
}

.fee-wrapper .name .label-first {
  float: left;
  width: 40px;
  text-align: right;
  padding-right: 4px;
}

.fee-wrapper .name .data {
  float: left;
  padding: 0 5px;
  position: relative;
  width: 182px;
  margin-left: 2px;
  margin-right: 2px;
  height: 26px;
  text-align: center;
}

.fee-wrapper .name .data:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 4px;
  height: 1px;
  width: 98%;
  left: 1%;
  right: 1%;
  background-color: #BEBEBE;
}

.fee-wrapper .name .label-last {
  float: left;
  width: 27px;
  text-align: left;
  padding-left: 4px;
}

.reqeust-id {
  height: 81px;
  width: 100%;
  padding: 10px 10px;
  border-bottom: 2px solid black;
}

.reqeust-id .label {
  width: 100%;
  padding-top: 5px;
  line-height: 1;
}

.reqeust-id .data {
  width: 99%;
  line-height: 1.1;
  padding-left: 15px;
}

.id {
  height: 81px;
  width: 100%;
  padding: 10px 10px;
}

.id .label {
  width: 100%;
  padding-top: 5px;
  line-height: 1;
}

.id .data {
  width: 99%;
  line-height: 1.1;
  padding-left: 15px;
}

label {
  cursor: default;
}

label.container {
  display: block;
  position: relative;
  padding-left: 20px;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 5px;
}

label.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

label.container input:checked ~ .dip-icon-check {
  display: block;
}

label.container .fake-input {
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #747474;
  background-color: #E1E1E1;
  top: 5px;
  left: 0;
}

label.container .dip-icon-check {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  font-size: 20px;
}

label.container .data {
  float: right;
}

label.container:last-child {
  margin-right: 0;
}

.pins-code {
  border: 1px solid #747474;
  margin-top: 1px;
}

.pins-code .pin-code {
  border-right: 1px solid #747474;
  background-color: #e1e1e1;
  width: 22px;
  height: 22px;
  float: left;
  text-align: center;
  line-height: 23px;
  font-size: 20px;
}

.pins-code .pin-code:last-child {
  border-right: 0;
}

.radios {
  float: left;
  margin-left: 5px;
}

.radios .caption {
  margin-right: 10px;
  font-size: 20px;
  float: left;
}

.radios .container {
  float: left;
}

.radios.appellant {
  width: 800px;
}

.radios.agency {
  width: 800px;
}

.radios.id-type {
  width: 870px;
}

.radios.agency-type .data {
  width: 185px;
}

.radios.more-information {
  float: right;
  margin-right: 15px;
}

.radios.check-list {
  float: none;
}

.radios.check-list label.container {
  float: none;
}

.data {
  float: left;
  padding: 0;
  position: relative;
  margin-left: 3px;
  margin-right: 2px;
  height: 26px;
  text-align: center;
  font-size: 20px;
  overflow: hidden;
}

.data:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 4px;
  height: 1px;
  width: 100%;
  left: 0;
  right: 0;
  background-color: #BEBEBE;
}

.data.without-line:before {
  display: none;
}

.data.text-full.multi-line {
  text-decoration: underline;
}

.data.text-full.multi-line::before {
  display: none;
}

.label {
  font-size: 20px;
  float: left;
}

.detail {
  padding: 5px 0;
  border-bottom: 2px solid black;
}

.detail .number {
  font-size: 20px;
  float: left;
  width: 20px;
  padding-left: 3px;
}

.detail .title {
  font-size: 20px;
  float: left;
  margin-right: 5px;
}

.detail .pins-code {
  float: left;
  margin-right: 10px;
}

.detail .label {
  /* padding-left: 5px; */
  padding-right: 3px;
}

.detail.consider .section-row.with-title {
  position: relative;
  word-break: break-word;
  -webkit-line-clamp: 2;
  height: 52px;
  overflow: hidden;
}

.detail.consider .section-row.with-title > * {
  z-index: 2;
  position: relative;
}

.detail.consider .data {
  width: 100%;
  text-align: left;
}

.detail.consider .data.connect-label {
  z-index: 1;
  text-indent: 670px;
  position: absolute;
  top: 0;
  left: 20px;
  right: 10px;
  word-break: break-word;
  -webkit-line-clamp: 2;
  height: 52px;
  text-align: left;
  margin: 0;
  width: auto;
  text-decoration: underline;
}

.detail.appeal-table {
  padding: 0 0 190px 0;
}

.detail.appeal-table .section-row {
  padding-left: 0;
}

.detail.appeal-table .section-row .section-row {
  float: left;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.detail.appeal-table .section-row .section-row table {
  table-layout: fixed;
}

.detail.appeal-table .section-row .section-row table tr .order {
  width: 65px;
}

.detail.appeal-table .section-row .section-row table tr .type {
  width: 200px;
}

.detail.appeal-table .section-row .section-row table tr .topic {
  width: 200px;
}

.detail.appeal-table .section-row .section-row table tr .qty {
  width: 65px;
}

.detail.appeal-table .section-row .section-row table tr .remark {
  width: 150px;
}

.detail.appeal-table .section-row .section-row table tr th {
  border: 2px solid #000000;
}

.detail.appeal-table .section-row .section-row table tr td {
  text-align: center;
  border: 2px solid #000000;
}

.detail.appeal-table-2 {
  padding: 0 0 145px 0;
}

.detail.import-product-table .section-row .section-row {
  float: left;
  width: 100%;
  padding-right: 10px;
}

.detail.import-product-table .section-row .section-row table {
  table-layout: fixed;
}

.detail.document {
  padding-bottom: 300px;
}

.detail.document > .section-row {
  padding-left: 0;
}

.detail.document > .section-row > .section-row .container {
  float: left;
}

.detail.document > .section-row > .section-row.other .data {
  text-align: left;
  float: left;
  width: 720px;
}

.detail.document > .section-row.with-title .title {
  width: 850px;
}

.detail.document .choice-input {
  padding-left: 25px;
}

.detail.document .choice-input .section-column {
  width: 50%;
  float: left;
}

.detail.document .choice-input .section-column .section-row {
  padding-left: 20px;
  width: 300px;
}

.detail.document .container {
  float: left;
}

.detail.other .section-row {
  float: left;
}

.detail.other .section-row .data {
  word-break: break-word;
  -webkit-line-clamp: 3;
  height: 78px;
  width: 100%;
}

.detail.other .section-row.text-full {
  padding-left: 0;
  float: left;
  width: 860px;
}

.detail:last-child {
  border-bottom: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
}

table th {
  font-size: 20px;
}

table td {
  height: 26px;
}

.page-one .footer .pagination {
  margin-top: 80px;
}

.page-two .footer .pagination {
  margin-top: 80px;
}
