div {
  box-sizing: border-box;
}

body {
  max-width: 895px;
  min-width: 895px;
  font-family: 'TH Sarabun New';
  font-weight: normal;
  line-height: 1.3;
  color: black;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

.header {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  padding-right: 5px;

  &.align-right {
    text-align: right;
  }
}

.body {
  width: 100%;
  border: 2px solid black;

  &.body-table {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }

  &.body-before-table {
    border-bottom: 0;
  }

  &.body-after-table {
    border-top: 0;
  }
}

.footer {
  font-size: 18px;

  .sign-name-wrapper {
    padding: 4px 10px;
    height: 133px;
    margin-left: 250px;
  
    .sign {
      width: 100%;
      margin-top: 40px;
  
      .label {
        float: left;
        width: 65px;
      }
  
      .data {
        float: left;
        padding: 0 5px;
        position: relative;
        width: 282px;
        margin-left: 2px;
        margin-right: 2px;
        height: 26px;
        text-align: center;
  
        &:before {
          content: '';
          display: block;
          position: absolute;
          bottom: 4px;
          height: 1px;
          width: 98%;
          left: 1%;
          right: 1%;
          background-color: #BEBEBE;
        }
      }
  
      .unit {
        float: left;
        width: 162px;
        text-align: right;
      }
    }
  
    .name {
      width: 100%;
  
      .label-first {
        float: left;
        width: 75px;
        text-align: right;
        padding-right: 4px;
      }
  
      .data {
        float: left;
        padding: 0 5px;
        position: relative;
        width: 262px;
        margin-left: 2px;
        margin-right: 2px;
        height: 26px;
        text-align: center;
  
        &:before {
          content: '';
          display: block;
          position: absolute;
          bottom: 4px;
          height: 1px;
          width: 98%;
          left: 1%;
          right: 1%;
          background-color: #BEBEBE;
        }
      }
  
      .label-last {
        float: left;
        width: 162px;
        text-align: left;
        padding-left: 4px;
      }
    }
  }

  .note {
    font-size: 20px;
    margin-left: 15px;
  }

  .pagination {
    float: right;

    .label {
      font-size: 18px;
    }

    .data {
      width: 30px;
      font-size: 18px;
    }

    .unit {
      float: left;
      font-size: 18px;
    }
  }
}

.clearfix {
  &:after {
    content: '';
    clear: both;
    display: block;
  }
}

.section {
  float: left;
  width: 100%;

  .section-row {
    padding-left: 15px;

    &.with-title {
      padding-left: 0;
    }

    &.name {
      .data {
        width: 833px;
      }

      .section-data-set {
        &.full-name {
          .data {
            width: 400px;
          }
        }

        &.tel {
          .data {
            width: 280px;
          }
        }

        &.request-id {
          .data {
            width: 150px;
          }
        }

        &.register-id {
          .data {
            width: 280px;
          }
        }
      }
    }

    &.address {
      .data {
        width: 825px;
      }

      /* .section-data-set {
       &.sub-district {
          .data {
            width: 222px;
          }
        }

        &.district {
          .data {
            width: 222px;
          }
        }

        &.province {
          .data {
            width: 216px;
          }
        }

        &.zip-code {
          .data {
            width: 131px;
          }
        }

        &.country {
          .data {
            width: 317px;
          }
        }

        &.nationality {
          .data {
            width: 216px;
          }
        }

        &.job {
          .data {
            width: 180px;
          }
        }

        &.mobile {
          .data {
            width: 135px;
          }
        }

        &.fax {
          .data {
            width: 135px;
          }
        }

        &.email {
          .data {
            width: 208px;
          }
        }
      } */
    }

    &.additional {
      margin: 5px 0;
      padding-left: 20px;
      padding-right: 5px;

      .text {
        font-size: 20px;
        float: left;
      }

      .container {
        float: right;
      }
    }

    &.text-full {
      .data {
        width: 856px;
        text-align: left;
      }
    }
  }

  &.logo-and-officer-input {
    border-bottom: 2px solid black;
  }

  &.appellant {
    padding-bottom: 10px;
  }

  &.page-2 {
    border-bottom: 0;
  }
}

.logo-wrapper {
  width: 615px;
  text-align: center;
  border-right: 2px solid black;
  height: 243px;
  float: left;

  .logo-wrapper-inner {
    padding-top: 20px;

    &.logo-wrapper-inner-2 {
      padding-top: 50px;
    }

    .logo {
      width: 80px;
    }

    .pdf-title {
      font-size: 26px;
      margin-top: 20px;
    }

    .pdf-sub-title {
      font-size: 22px;
    }

    .mark-type {
      margin: 40px auto 0;

      .container {
        display: inline-block;
        font-size: 22px;
        margin-right: 15px;
        font-weight: bold;

        .span {
          font-size: 20px;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.officer-input {
  width: 275px;
  float: left;
  height: 243px;
  font-size: 20px;

  .caption {
    text-align: center;
    width: 100%;
    border-bottom: 2px solid black;
    height: 30px;
    padding-top: 3px;
  }
}

.reqeust-date {
  height: 81px;
  width: 100%;
  border-bottom: 2px solid black;
  padding: 10px 10px;

  .label {
    /* float: left;
    width: 21%; */
    width: 100%;
    padding-top: 5px;
    line-height: 1;
  }

  .data {
    /* width: 77%; */
    width: 99%;
    line-height: 1.1;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.fee-wrapper {
  padding: 4px 10px;
  height: 132px;
  /* border-bottom: 2px solid black; */

  /*.fee {
    width: 100%;

    .label {
      float: left;
    }

    .data {
      float: left;
      padding: 0 5px;
      position: relative;
      width: 145px;
      margin-left: 3px;
      margin-right: 2px;
      height: 26px;
      text-align: center;

      &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 4px;
        height: 1px;
        width: 98%;
        left: 1%;
        right: 1%;
        background-color: #BEBEBE;
      }
    }

    .unit {
      float: left;
    }
  }*/

  .sign {
    width: 100%;
    margin-top: 50px;

    .label {
      float: left;
      width: 40px;
    }

    .data {
      float: left;
      padding: 0 5px;
      position: relative;
      width: 182px;
      margin-left: 2px;
      margin-right: 2px;
      height: 26px;
      text-align: center;

      &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 4px;
        height: 1px;
        width: 98%;
        left: 1%;
        right: 1%;
        background-color: #BEBEBE;
      }
    }

    .unit {
      float: left;
      width: 27px;
      text-align: right;
    }
  }

  .name {
    width: 100%;

    .label-first {
      float: left;
      width: 40px;
      text-align: right;
      padding-right: 4px;
    }

    .data {
      float: left;
      padding: 0 5px;
      position: relative;
      width: 182px;
      margin-left: 2px;
      margin-right: 2px;
      height: 26px;
      text-align: center;

      &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 4px;
        height: 1px;
        width: 98%;
        left: 1%;
        right: 1%;
        background-color: #BEBEBE;
      }
    }

    .label-last {
      float: left;
      width: 27px;
      text-align: left;
      padding-left: 4px;
    }
  }
}

.reqeust-id {
  height: 81px;
  width: 100%;
  padding: 10px 10px;
  border-bottom: 2px solid black;

  .label {
    width: 100%;
    padding-top: 5px;
    line-height: 1;
  }

  .data {
    width: 99%;
    line-height: 1.1;
    padding-left: 15px;
  }
} 

.id {
  height: 81px;
  width: 100%;
  padding: 10px 10px;

  .label {
    width: 100%;
    padding-top: 5px;
    line-height: 1;
  }

  .data {
    width: 99%;
    line-height: 1.1;
    padding-left: 15px;
  }
}

label {
  cursor: default;

  &.container {
    display: block;
    position: relative;
    padding-left: 20px;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 5px;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked {
        &~.dip-icon-check {
          display: block;
        }
      }
    }

    .fake-input {
      position: absolute;
      width: 15px;
      height: 15px;
      border: 1px solid #747474;
      background-color: #E1E1E1;
      top: 5px;
      left: 0;
    }

    .dip-icon-check {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      font-size: 20px;
    }

    .data {
      float: right;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.pins-code {
  border: 1px solid #747474;
  margin-top: 1px;

  .pin-code {
    border-right: 1px solid #747474;
    background-color: #e1e1e1;
    width: 22px;
    height: 22px;
    float: left;
    text-align: center;
    line-height: 23px;
    font-size: 20px;

    &:last-child {
      border-right: 0;
    }
  }
}

.radios {
  float: left;
  margin-left: 5px;

  .caption {
    margin-right: 10px;
    font-size: 20px;
    float: left;
  }

  .container {
    float: left;
  }

  &.appellant {
    width: 800px;
  }

  &.agency {
    width: 800px;
  }

  &.id-type {
    width: 870px;
  }

  &.agency-type {
    .data {
      width: 185px;
    }
  }

  &.more-information {
    float: right;
    margin-right: 15px;
  }

  &.check-list {
    float: none;

    label {
      &.container {
        float: none;
      }
    }
  }
}

.data {
  float: left;
  padding: 0;
  position: relative;
  margin-left: 3px;
  margin-right: 2px;
  height: 26px;
  text-align: center;
  font-size: 20px;
  overflow: hidden;

  // background-image: url(../../../images/contents/pdf-bg-line.png);
  // background-image: url(../../../images/contents/pdf-bg-line.png);
  // background-image: url(../../../images/contents/pdf-bg-line.png);
  // background-repeat: repeat-y;
  // background-size: 100% 26px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 4px;
    height: 1px;
    width: 100%;
    left: 0;
    right: 0;
    background-color: #BEBEBE;
  }

  &.without-line {
    &:before {
      display: none;
    }
  }

  &.text-full {
    &.multi-line {
      text-decoration: underline;

      &::before {
        display: none;
      }
    }
  }
}

.label {
  font-size: 20px;
  float: left;
  // margin-left: 5px;
  // margin-right: 3px;
}

.detail {
  padding: 5px 0;
  border-bottom: 2px solid black;

  .number {
    font-size: 20px;
    float: left;
    width: 20px;
    padding-left: 3px;
  }

  .title {
    font-size: 20px;
    float: left;
    margin-right: 5px;
  }

  .pins-code {
    float: left;
    margin-right: 10px;
  }

  .label {
    /* padding-left: 5px; */
    padding-right: 3px;
  }

  &.consider {
    .section-row {
      &.with-title {
        position: relative;
        word-break: break-word;
        -webkit-line-clamp: 2;
        height: 52px;
        overflow: hidden;

        &>* {
          z-index: 2;
          position: relative;
        }
      }
    }

    .data {
      width: 100%;
      text-align: left;

      &.connect-label {
        z-index: 1;
        text-indent: 670px;
        position: absolute;
        top: 0;
        left: 20px;
        right: 10px;
        word-break: break-word;
        -webkit-line-clamp: 2;
        height: 52px;
        text-align: left;
        margin: 0;
        width: auto;
        text-decoration: underline;
      }
    }
  }

  &.appeal-table {
    padding: 0 0 190px 0;

    .section-row {
      padding-left: 0;

      .section-row {
        float: left;
        width: 100%;
        padding-left: 0;
        padding-right: 0;

        table {
          table-layout: fixed;

          tr {
            .order {
              width: 65px;
            }

            .type {
              width: 200px;
            }

            .topic {
              width: 200px;
            }

            .qty {
              width: 65px;
            }

            .remark {
              width: 150px;
            }

            th {
              border: 2px solid #000000;
            }

            td {
              text-align: center;
              border: 2px solid #000000;
            }
          }
        }
      }
    }
  }

  &.appeal-table-2 {
    padding: 0 0 145px 0;
  }

  &.import-product-table {
    .section-row {
      .section-row {
        float: left;
        width: 100%;
        padding-right: 10px;

        table {
          table-layout: fixed;
        }
      }
    }
  }

  &.document {
    padding-bottom: 300px;

    &>.section-row {
      padding-left: 0;

      &>.section-row {
        .container {
          float: left;
        }

        &.other {
          .data {
            text-align: left;
            float: left;
            width: 720px;
          }
        }
      }

      &.with-title {
        .title {
          width: 850px;
        }
      }
    }

    .choice-input {
      padding-left: 25px;

      .section-column {
        width: 50%;
        float: left;

        .section-row {
          padding-left: 20px;
          width: 300px;
        }
      }
    }

    .container {
      float: left;
    }
  }

  &.other {
    .section-row {
      float: left;

      .data {
        word-break: break-word;
        -webkit-line-clamp: 3;
        height: 78px;
        width: 100%;
      }

      &.text-full {
        padding-left: 0;
        float: left;
        width: 860px;
      }
    }
  }

  &:last-child {
    border-bottom: 0;
  }
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;

  th {
    font-size: 20px;
  }

  td {
    height: 26px;
  }
}

.page-one {
  .footer {
    .pagination {
      margin-top: 80px;
    }
  }
}

.page-two {
  .footer {
    .pagination {
      margin-top: 80px;
    }
  }
}
