body {
  max-width: 890px;
  font-family: "TH Sarabun New";
  font-size: 20px;
  font-weight: normal;

  color: black;
  margin: 0 auto;
  // border: 1px solid #000;

  * {
    vertical-align: top;
  }

  .bold {
    font-weight: bold;
  }

  .center {
    text-align: center;
  }

  .right {
    text-align: right;
  }

  .absolute {
    position: absolute;
  }

  .line {
    display: block;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid;
    clear: both;
  }

  .clear {
    clear: both;
  }

  .paragraph {
    text-indent: 35px;
  }

  table {
    border-collapse: collapse;
    td {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  .underline {
    text-decoration: underline;
  }

  .width-50 {
    display: inline-block;
    width: 49%;
  }

  .width-33 {
    display: inline-block;
    width: 32%;
  }
}

body {
  .body {
    // padding: 25px 25px;
  }

  .div_content_2 {
    margin-top: 20px;

    table {
      width: 100%;

      thead {
        text-align: center;
      }

      td {
        border: 1px solid #000;
      }
    }
  }
  // padding: 12px 80px;
  // .space {
  //   margin-top: 30px;
  // }

  // * {
  //   // line-height: 24px;
  // }

  // .height-50 {
  //   // border: 1px solid #000;
  //   height: 440px;
  // }

  // .table-01 {
  //   text-align: right;

  //   table {
  //     display: inline-block;
  //     padding: 12px 80px;
  //   }
  // }

  // .table-02 {
  //   padding: 0 80px;

  //   .title {
  //     width: 100px;
  //   }
  //   table {
  //     width: 100%;
  //   }
  // }

  // .table-03 {
  //   table {
  //     width: 100%;
  //     text-align: center;
  //   }
  // }

  //   .header {
  //     & > div {
  //       display: inline-block;
  //     }

  //     .header-left {
  //       margin-top: 75px;
  //       margin-left: 50px;
  //     }

  //     .header-center {
  //       width: 110px;
  //       margin-top: 35px;
  //       margin-left: 150px;

  //       .img-logo {
  //         width: 100%;
  //       }
  //     }

  //     .header-right {
  //       margin-top: 75px;
  //       margin-left: 110px;
  //     }
  //   }

  //   .topic {
  //     // font-size: 33px;
  //     margin-top: 25px;
  //   }

  //   .div_content_01 {
  //     margin-top: 20px;
  //   }

  //   .div_content_02 {
  //     margin-top: 20px;

  //     table {
  //       width: 500px;
  //       margin: 0 auto;
  //     }
  //   }

  //   .div_content_03 {
  //     margin-top: 50px;
  //     & > div {
  //       display: inline-block;
  //     }

  //     .div_content_left {
  //       width: 450px;

  //       .div_sound_type {
  //         margin-top: 150px;
  //       }

  //       img {
  //         max-width: 450px;
  //         max-height: 450px;
  //         margin: 0 auto;
  //         display: block;
  //       }
  //     }

  //     .div_content_right {
  //     }
  //   }

  //   // .div_content_04 {
  //   //   margin-top: 10px;
  //   // }
}
