body {
  max-width: 890px;
  font-family: "TH Sarabun New";
  font-size: 22px;
  font-weight: normal;
  color: black;
  margin: 0 auto;
  // border: 1px solid #000;

  * {
    vertical-align: top;
  }

  .bold {
    font-weight: bold;
  }

  .center {
    text-align: center;
  }

  .right {
    text-align: right;
  }

  .align-right {
    float: right;
  }

  .line {
    display: block;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid;
    clear: both;
  }

  .clear {
    clear: both;
  }

  .paragraph {
    text-indent: 35px;
  }

  table {
    border-collapse: collapse;
    td {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  .underline {
    text-decoration: underline;
  }

  .padding-left-50 {
    padding-left: 50px;
  }

  .underline-dotted {
    border-bottom: 1px dotted;
    line-height: 23px;
    height: 23px;
    display: inline-block;
    text-align: center;
  }
}

body {
  .body {
    padding: 35px 50px;
    // //   // border: 1px solid #000;

    .img-logo {
      max-height: 300px;
    }

    .header {
      table {
        width: 100%;
      }
      //   //   & > div {
      //   //     display: inline-block;
      //   //   }

      //   //   .header-left {
      //   //     margin-top: 75px;
      //   //     margin-left: 50px;
      //   //     //       .img-logo {
      //   //     //         width: 68px;
      //   //     //         margin-bottom: 10px;
      //   //     //       }
      //   //   }

      //   //   .header-center {
      //   //     width: 110px;
      //   //     margin-top: 35px;
      //   //     margin-left: 225px;

      //   //     //       margin-top: 12px;
      //   //     //       margin-left: 30px;
      //   //     //       display: inline-block;
      //   //   }

      //   //   .header-right {
      //   //     margin-top: 75px;
      //   //     margin-left: 110px;
      //   //     //       margin-top: 12px;
      //   //     //       width: 450px;
      //   //     //       text-align: right;

      //   //     //       & > div {
      //   //     //         & > div {
      //   //     //           display: inline-block;
      //   //     //         }
      //   //     //       }
      //   //   }
    }

    .div_content_01 {
      margin-top: 20px;
      width: 100%;
      text-align: center;
    }

    .div_content_02 {
      margin-top: 20px;

      table {
        width: 100%;
      }
    }

    .div_content_03 {
      margin-top: 20px;

      .person {
        width: 100px;
      }

      .head-person {
        width: 160px;
      }
    }

    .div_content_04 {
      margin-top: 20px;
    }

    // // .topic {
    // //   font-size: 33px;
    // //   // margin-top: 25px;
    // //   //     padding-top: 18px;
    // //   //     padding-bottom: 10px;
    // // }

    // // .div_content_07 {
    // //   height: 50px;
    // //   font-size: 33px;
    // //   margin-top: 20px;
    // //   line-height: 65px;
    // // }

    // .div_content_01 {
    //   margin-top: 20px;
    // }

    // // .div_content_03 {
    // //   margin-top: 20px;
    // // }

    // // .div_content_02 {
    // //   margin-top: 50px;
    // //   & > div {
    // //     display: inline-block;
    // //   }

    // //   .div_content_left {
    // //     width: 450px;

    // //     .div_sound_type {
    // //       margin-top: 150px;
    // //     }

    // //     img {
    // //       max-width: 450px;
    // //       max-height: 450px;
    // //       margin: 0 auto;
    // //       display: block;
    // //     }
    // //   }

    // //   .div_content_right {
    // //   }
    // // }

    // // .div_content_04 {
    // //   margin-top: 10px;
    // // }

    // // .div_content_05 {
    // //   & > div {
    // //     display: inline-block;
    // //   }
    // // }

    // // .div_content_06 {
    // //   // height: 50px;
    // //   // font-size: 33px;
    // //   margin-top: 20px;
    // //   // line-height: 65px;
    // // }

    // // //   table {
    // // //     tr.padding-top {
    // // //       td {
    // // //         padding-top: 20px;
    // // //       }
    // // //     }
    // // //   }

    // // //   .trademark-image {
    // // //     width: 100%;
    // // //     margin-top: 20px;
    // // //     img {
    // // //       max-width: 80%;
    // // //       margin: 0 auto;
    // // //       display: block;
    // // //     }
    // // //   }
  }
}
