body {
  max-width: 890px;
  font-family: "TH Sarabun New";
  font-size: 26px;
  font-weight: normal;
  color: black;
  margin: 0 auto;
}

body * {
  vertical-align: top;
}

body .bold {
  font-weight: bold;
}

body .center {
  text-align: center;
}

body .right {
  text-align: right;
}

body .align-right {
  float: right;
}

body .line {
  display: block;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid;
  clear: both;
}

body .clear {
  clear: both;
}

body .paragraph {
  text-indent: 35px;
}

body table {
  border-collapse: collapse;
}

body table td {
  padding-left: 8px;
  padding-right: 8px;
}

body .underline {
  text-decoration: underline;
}

body .body {
  padding: 25px 50px;
}

body .body .header > div {
  display: inline-block;
}

body .body .header .header-left {
  margin-top: 75px;
  margin-left: 50px;
}

body .body .header .header-center {
  width: 110px;
  margin-top: 35px;
  margin-left: 225px;
}

body .body .header .header-center .img-logo {
  width: 100%;
}

body .body .header .header-right {
  margin-top: 75px;
  margin-left: 110px;
}

body .body .topic {
  font-size: 33px;
}

body .body .div_content_07 {
  height: 50px;
  font-size: 33px;
  margin-top: 20px;
  line-height: 65px;
}

body .body .div_content_01 {
  margin-top: 50px;
}

body .body .div_content_03 {
  margin-top: 20px;
}

body .body .div_content_02 {
  margin-top: 50px;
}

body .body .div_content_02 > div {
  display: inline-block;
}

body .body .div_content_02 .div_content_left {
  width: 450px;
}

body .body .div_content_02 .div_content_left .div_sound_type {
  margin-top: 150px;
}

body .body .div_content_02 .div_content_left img {
  max-width: 450px;
  max-height: 330px;
  margin: 0 auto;
  display: block;
}

body .body .div_content_04 {
  margin-top: 10px;
}

body .body .div_content_05 > div {
  display: inline-block;
}

body .body .div_content_06 {
  margin-top: 20px;
}
