body {
  max-width: 890px;
  font-family: "TH Sarabun New";
  font-size: 22px;
  font-weight: normal;
  color: black;
  margin: 0 auto;

  * {
    vertical-align: top;
  }

  .bold {
    font-weight: bold;
  }

  .center {
    text-align: center;
  }

  .right {
    text-align: right;
  }

  .line {
    display: block;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid;
    clear: both;
  }

  .clear {
    clear: both;
  }

  table {
    border-collapse: collapse;
    td {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}

body {
  .body {
    padding: 25px 60px;
    // border: 1px solid #000;

    .header {
      & > div {
        display: inline-block;
      }

      .header-left {
        .img-logo {
          width: 68px;
          margin-bottom: 10px;
        }
      }

      .header-center {
        margin-top: 12px;
        margin-left: 30px;
        display: inline-block;
      }

      .header-right {
        margin-top: 12px;
        width: 450px;
        text-align: right;

        & > div {
          & > div {
            display: inline-block;
          }
        }
      }
    }

    .topic {
      padding-top: 18px;
      padding-bottom: 10px;
    }

    table {
      tr.padding-top {
        td {
          padding-top: 20px;
        }
      }
    }

    .trademark-image {
      width: 100%;
      margin-top: 20px;
      img {
        max-width: 80%;
        margin: 0 auto;
        display: block;
      }
    }
  }
}

//   .underline-dotted {
//     border-bottom: 1px dotted;
//     line-height: 23px;
//     display: inline-block;
//     text-align: center;
//     &.total_price {
//       width: 127px;
//     }
//     &.real_sign_name {
//       width: 175px;
//     }
//     &.created_by_name {
//       width: 222px;
//     }
//     &.request_date {
//       width: 187px;
//     }
//     &.image_code {
//       width: 189px;
//     }
//   }

//   .img-logo {
//     width: 78px;
//     margin-left: 263px;
//     float: left;
//     img {
//       width: 100%;
//     }
//   }

//   .width-70 {
//     width: 70%;
//   }

//   .height-15 {
//     height: 15px;
//   }

//   .reference_number,
//   .vourcher {
//     margin-left: 35px;
//     display: inline-block;
//   }

//   .header-list {
//     margin: 0 auto;
//     border-spacing: 10px;
//     border-collapse: separate;
//     font-weight: bold;
//     tr {
//       td:nth-child(1) {
//         border: 3px solid;
//         padding: 13px;
//         .select {
//           font-size: 33px;
//           margin: -19px -6px;
//           position: absolute;
//         }
//       }
//     }
//   }

//   .requester {
//     display: inline-block;
//     td {
//       .card_number {
//         vertical-align: top;
//         display: inline-block;
//         td {
//           border: 1px solid #000;
//           width: 5px;
//           height: 23px;
//         }
//       }
//     }
//   }

//   .kor_2 {
//     & > td {
//       padding: 10px 0;
//     }
//     table {
//       display: inline-block;
//       td {
//         &.border {
//           border: 1px solid;
//           width: 9px;
//           height: 23px;
//           display: inline-block;
//         }

//         .amount {
//           width: 100px;
//         }
//       }
//     }
//   }

//   .kor_3 {
//     & > td {
//       padding: 10px 0;
//     }
//     table {
//       width: 100%;
//       td {
//         &.sign {
//           text-align: center;
//         }
//       }
//     }
//   }

//   .request-list {
//     margin: 0 auto;
//     width: 750px;

//     & > div {
//       display: inline-block;
//       width: 240px;
//     }
//     .title {
//       width: 80px;
//     }
//     .underline-dotted {
//       width: 160px;
//     }
//   }
// }
