div {
  box-sizing: border-box;
}

body {
  max-width: 890px;
  font-family: "TH Sarabun New";
  font-weight: normal;
  line-height: 1.3;
  color: black;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.body {
  width: 100%;

  &.split {
    height: 650px;
  }
}

.clearfix {
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}

.section {
  float: left;
}

.header {
  padding-top: 20px;
}

.footer {
  padding-top: 20px;
}

.address-wrapper {
  width: 296px;
  float: left;
  font-size: 24px;
}

.logo-wrapper {
  width: 296px;
  text-align: center;
  float: left;

  .logo {
    width: 100px;
  }

  .pdf-title {
    font-weight: bold;
    font-size: 28px;
  }
}

.header-detail {
  width: 298px;
  font-size: 24px;
  float: right;
  text-align: right;
}

.number-request {
  float: left;
  width: 100%;
  font-size: 24px;
  margin-bottom: 5px;

  .number-request-label {
    float: left;
  }

  .number-request-input {
    position: relative;
    top: -7px;
    float: left;
    margin-left: 10px;
    padding-left: 15px;

    &:before {
      content: "";
      position: absolute;
      bottom: 2px;
      left: 0;
      width: 185px;
      border-bottom: 2px dotted #000000;
    }
  }
}

.receive-from {
  float: left;
  width: 100%;
  font-size: 24px;
  margin-bottom: 10px;

  .receive-from-label {
    float: left;
  }

  .receive-from-input {
    position: relative;
    top: -7px;
    float: left;
    text-align: center;
    width: 655px;

    &:before {
      content: "";
      position: absolute;
      bottom: 2px;
      left: 0;
      width: 655px;
      border-bottom: 2px dotted #000000;
    }
  }

  .receive-from-text {
    float: left;
  }
}

.table-wrapper {
  width: 100%;
  margin-bottom: 10px;

  .table-receipt {
    width: 100%;
    display: table;
    border: 1px solid #000000;
    border-collapse: collapse;
    font-size: 24px;
    // min-height: 500px;

    th,
    td {
      border: 1px solid #000000;
    }

    .table-receipt-content {
      padding-left: 10px;
    }

    .table-receipt-total {
      padding-right: 10px;
    }

    .item-list {
      td {
        border-top: none;
        border-bottom: none;
      }
    }
  }
}

.content-wrapper {
  width: 545px;
  float: left;
  font-size: 24px;
}

.sign-wrapper {
  width: 345px;
  font-size: 24px;
  float: right;
  text-align: center;

  .sign-info {
    float: left;
    width: 100%;
    font-size: 24px;

    .sign-info-label {
      float: left;
    }

    .sign-info-input {
      position: relative;
      top: -7px;
      float: left;
      text-align: center;
      width: 260px;

      &:before {
        content: "";
        position: absolute;
        bottom: 2px;
        left: 0;
        width: 260px;
        border-bottom: 2px dotted #000000;
      }
    }

    .sign-info-text {
      float: left;
    }
  }

  .sign-info-detail {
    float: none;
    width: 270px;
    margin: 0 auto;
    font-size: 24px;

    .sign-info-detail-label {
      float: left;
    }

    .sign-info-detail-input {
      position: relative;
      top: -7px;
      float: left;
      text-align: center;
      width: 260px;

      &:before {
        content: "";
        position: absolute;
        bottom: 2px;
        left: 0;
        width: 260px;
        border-bottom: 2px dotted #000000;
      }
    }

    .sign-info-detail-text {
      float: left;
    }
  }
}
