body {
  max-width: 890px;
  font-family: "TH Sarabun New";
  font-size: 22px;
  font-weight: normal;
  line-height: 1.3;
  color: black;
  margin: 0 auto;

  .clear {
    clear: both;
  }

  .section {
    clear: both;

    &.header {
      div {
        float: left;

        &.logo {
          img {
            padding: 20px 0 0 40px;
            width: 95px;
          }
        }

        &.pdf-title {
          padding: 44px 0 0 27px;
          font-size: 31px;
          font-weight: bold;
        }
      }
    }

    &.header-sub {
      .rows {
        padding: 20px 0 0 69px;
        float: left;
        .row {
          clear: both;

          div {
            float: left;
          }
          .title {
            font-weight: bold;
          }
          .description {
            margin: 0 6px;
          }
        }
      }

      .barcode {
        float: right;
        margin: 12px 66px 0 0;
        .pic {
          height: 46px;
          width: 220px;

          img {
            width: 100%;
            height: 100%;
          }
        }
        .number {
          text-align: center;
        }
      }
    }

    &.table {
      margin: 28px 0 0 auto;

      table {
        border-collapse: collapse;
        width: 850px;
        margin: 0 auto;
        text-align: center;

        .income_description {
          word-break: break-word;
          width: 350px;
        }
        td {
          border: 1px solid;
          padding: 5px 8px 0;
        }
        thead {
          font-weight: bold;
        }
        tbody {
          .income_description {
            text-align: left;
          }
          .total_price {
            text-align: right;
          }
        }
        tfoot {
          .title {
            text-align: right;
            font-weight: bold;
          }
          .total_price {
            font-weight: bold;
            text-align: right;
          }
        }
      }
    }

    &.footer {
      .left {
        margin: 5px 0 0 65px;

        div {
          float: left;
        }
        .title {
          font-weight: bold;
        }
        .description {
          margin: 0 6px;
        }
      }

      .information {
        float: right;
        margin: 0 45px 0 0;
      }
    }
  }
}
