body {
  max-width: 890px;
  font-family: "TH Sarabun New";
  font-size: 22px;
  font-weight: normal;
  line-height: 1.3;
  color: black;
  margin: 0 auto;
}

body .clear {
  clear: both;
}

body .section {
  clear: both;
}

body .section.header div {
  float: left;
}

body .section.header div.logo img {
  padding: 20px 0 0 40px;
  width: 95px;
}

body .section.header div.pdf-title {
  padding: 44px 0 0 27px;
  font-size: 31px;
  font-weight: bold;
}

body .section.header-sub .rows {
  padding: 20px 0 0 69px;
  float: left;
}

body .section.header-sub .rows .row {
  clear: both;
}

body .section.header-sub .rows .row div {
  float: left;
}

body .section.header-sub .rows .row .title {
  font-weight: bold;
}

body .section.header-sub .rows .row .description {
  margin: 0 6px;
}

body .section.header-sub .barcode {
  float: right;
  margin: 12px 66px 0 0;
}

body .section.header-sub .barcode .pic {
  height: 46px;
  width: 220px;
}

body .section.header-sub .barcode .pic img {
  width: 100%;
  height: 100%;
}

body .section.header-sub .barcode .number {
  text-align: center;
}

body .section.table {
  margin: 28px 0 0 auto;
}

body .section.table table {
  border-collapse: collapse;
  width: 850px;
  margin: 0 auto;
  text-align: center;
}

body .section.table table .income_description {
  word-break: break-word;
  width: 350px;
}

body .section.table table td {
  border: 1px solid;
  padding: 5px 8px 0;
}

body .section.table table thead {
  font-weight: bold;
}

body .section.table table tbody .income_description {
  text-align: left;
}

body .section.table table tbody .total_price {
  text-align: right;
}

body .section.table table tfoot .title {
  text-align: right;
  font-weight: bold;
}

body .section.table table tfoot .total_price {
  font-weight: bold;
  text-align: right;
}

body .section.footer .left {
  margin: 5px 0 0 65px;
}

body .section.footer .left div {
  float: left;
}

body .section.footer .left .title {
  font-weight: bold;
}

body .section.footer .left .description {
  margin: 0 6px;
}

body .section.footer .information {
  float: right;
  margin: 0 45px 0 0;
}
