body {
  max-width: 890px;
  font-family: "TH Sarabun New";
  font-size: 22px;
  font-weight: normal;
  color: black;
  margin: 0 auto;
}

body .width-full {
  width: 890px;
}

body .width-full > * > tr > td {
  border: 2px solid;
}

body .bold {
  font-weight: bold;
}

body .center {
  text-align: center;
}

body .right {
  text-align: right;
}

body .underline-dotted {
  border-bottom: 1px dotted;
  line-height: 23px;
  display: inline-block;
  text-align: center;
}

body .underline-dotted.total_price {
  width: 127px;
}

body .underline-dotted.real_sign_name {
  width: 175px;
}

body .underline-dotted.created_by_name {
  width: 222px;
}

body .underline-dotted.request_date {
  width: 187px;
}

body .underline-dotted.image_code {
  width: 189px;
}

body .img-logo {
  width: 78px;
  margin-left: 263px;
  float: left;
}

body .img-logo img {
  width: 100%;
}

body .width-70 {
  width: 70%;
}

body .height-15 {
  height: 15px;
}

body .reference_number,
body .vourcher {
  margin-left: 35px;
  display: inline-block;
}

body .clear {
  clear: both;
}

body .header-list {
  margin: 0 auto;
  border-spacing: 10px;
  border-collapse: separate;
  font-weight: bold;
}

body .header-list tr td:nth-child(1) {
  border: 3px solid;
  padding: 13px;
}

body .header-list tr td:nth-child(1) .select {
  font-size: 33px;
  margin: -19px -6px;
  position: absolute;
}

body .requester {
  display: inline-block;
}

body .requester td .card_number {
  vertical-align: top;
  display: inline-block;
}

body .requester td .card_number td {
  border: 1px solid #000;
  width: 5px;
  height: 23px;
}

body .body {
  height: 1200px;
}

body .body.div_content_01 {
  border: 1px solid;
  padding: 50px 0;
}

body .kor_2 > td {
  padding: 10px 0;
}

body .kor_2 table {
  display: inline-block;
}

body .kor_2 table td.border {
  border: 1px solid;
  width: 9px;
  height: 23px;
  display: inline-block;
}

body .kor_2 table td .amount {
  width: 100px;
}

body .kor_3 > td {
  padding: 10px 0;
}

body .kor_3 table {
  width: 100%;
}

body .kor_3 table td.sign {
  text-align: center;
}

body .request-list {
  margin: 0 auto;
  width: 750px;
}

body .request-list > div {
  display: inline-block;
  width: 240px;
}

body .request-list .title {
  width: 80px;
}

body .request-list .underline-dotted {
  width: 160px;
  height: 23px;
  vertical-align: bottom;
}

body table {
  border-collapse: collapse;
}

body table td {
  padding-left: 8px;
  padding-right: 8px;
}
