body {
  font-family: "TH Sarabun New";
  font-size: 24px;
  font-weight: normal;
  color: black;
  margin: 0 auto;
}

body * {
  vertical-align: top;
}

body .bold {
  font-weight: bold;
}

body .center {
  text-align: center;
}

body .right {
  text-align: right;
}

body .line {
  display: block;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid;
  clear: both;
}

body .clear {
  clear: both;
}

body .paragraph {
  text-indent: 35px;
}

body table {
  border-collapse: collapse;
}

body table td {
  padding-left: 8px;
  padding-right: 8px;
}

body .underline {
  text-decoration: underline;
}

body .width-50 {
  display: inline-block;
  width: 49%;
}

body * {
  line-height: 24px;
}

body .height-50 {
  height: 440px;
}

body .table-01 {
  text-align: right;
}

body .table-01 table {
  display: inline-block;
  padding: 12px 80px;
}

body .table-02 {
  padding: 0 80px;
}

body .table-02 .title {
  width: 100px;
}

body .table-02 .space {
  height: 30px;
}

body .table-02 table {
  width: 100%;
}

body .table-03 table {
  width: 100%;
  text-align: center;
}
