div {
  box-sizing: border-box;
}

body {
  max-width: 895px;
  min-width: 895px;
  font-family: 'TH Sarabun New';
  font-weight: normal;
  line-height: 1.3;
  color: black;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

.header {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  padding-right: 5px;

  &.align-right {
    text-align: right;
  }
}

.body {
  width: 100%;
  border: 2px solid black;
}

.footer {
  font-size: 18px;

  .note {
    font-size: 18px;
    margin-left: 15px;
  }

  .signature {
    float: left;
    width: 100%;
    border: 0;

    >.section-row {
      float: right;
    }

    .data {
      width: 300px;
    }

    .signature-full-text {
      margin-left: 52px;
    }
  }

  .pagination {
    float: right;

    .label {
      font-size: 18px;
    }

    .data {
      width: 30px;
      font-size: 18px;
    }

    .unit {
      float: left;
      font-size: 18px;
    }
  }
}

.clearfix {
  &:after {
    content: '';
    clear: both;
    display: block;
  }
}

.section {
  float: left;
  width: 100%;

  .section-row {
    padding-left: 15px;

    &.with-title {
      padding-left: 0;
    }

    &.name {
      .data {
        width: 833px;
      }
    }

    &.address {
      .data {
        width: 825px;
      }

      .section-data-set {
        &.sub-district {
          .data {
            width: 222px;
          }
        }

        &.district {
          .data {
            width: 222px;
          }
        }

        &.province {
          .data {
            width: 216px;
          }
        }

        &.zip-code {
          .data {
            width: 131px;
          }
        }

        &.country {
          .data {
            width: 317px;
          }
        }

        &.nationality {
          .data {
            width: 216px;
          }
        }

        &.job {
          .data {
            width: 180px;
          }
        }

        &.mobile {
          .data {
            width: 135px;
          }
        }

        &.fax {
          .data {
            width: 135px;
          }
        }

        &.email {
          .data {
            width: 208px;
          }
        }
      }
    }

    &.text-full {
      .data {
        width: 856px;
        text-align: left;
      }
    }
  }

  &.logo-and-officer-input {
    border-bottom: 2px solid black;
  }

  &.appellant {
    padding-bottom: 10px;
  }
}

.logo-wrapper {
  width: 580px;
  text-align: center;
  border-right: 2px solid black;
  height: 250px;
  float: left;

  .logo-wrapper-inner {
    padding-top: 35px;

    .logo {
      width: 100px;
    }

    .pdf-title {
      font-size: 28px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .mark-type {
      .container {
        display: inline-block;
        font-size: 22px;

        .span {
          font-size: 20px;
        }
      }
    }
  }
}

.officer-input {
  width: 310px;
  float: left;
  height: 250px;
  font-size: 20px;

  .caption {
    text-align: center;
    width: 100%;
    border-bottom: 2px solid black;
    height: 30px;
    padding-top: 3px;
  }
}

.reqeust-date {
  height: 58px;
  width: 100%;
  border-bottom: 2px solid black;
  padding: 4px 3px;

  .label {
    width: 100%;
    padding-top: 5px;
    line-height: 1;
  }

  .data {
    width: 99%;
    line-height: 1.1;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.fee-wrapper {
  padding: 4px 3px;
  height: 103px;
  border-bottom: 2px solid black;

  .fee {
    width: 100%;

    .label {
      float: left;
    }

    .data {
      float: left;
      padding: 0 5px;
      position: relative;
      width: 185px;
      margin-left: 3px;
      margin-right: 2px;
      height: 26px;
      text-align: center;

      &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 4px;
        height: 1px;
        width: 98%;
        left: 1%;
        right: 1%;
        background-color: #BEBEBE;
      }
    }

    .unit {
      float: left;
    }
  }

  .sign {
    width: 100%;
    margin-top: 20px;

    .label {
      float: left;
      width: 40px;
    }

    .data {
      float: left;
      padding: 0 5px;
      position: relative;
      width: 232px;
      margin-left: 2px;
      margin-right: 2px;
      height: 26px;
      text-align: center;

      &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 4px;
        height: 1px;
        width: 98%;
        left: 1%;
        right: 1%;
        background-color: #BEBEBE;
      }
    }

    .unit {
      float: left;
      width: 27px;
      text-align: right;
    }
  }

  .name {
    width: 100%;

    .label-first {
      float: left;
      width: 40px;
      text-align: right;
      padding-right: 4px;
    }

    .data {
      float: left;
      padding: 0 5px;
      position: relative;
      width: 232px;
      margin-left: 2px;
      margin-right: 2px;
      height: 26px;
      text-align: center;

      &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 4px;
        height: 1px;
        width: 98%;
        left: 1%;
        right: 1%;
        background-color: #BEBEBE;
      }
    }

    .label-last {
      float: left;
      width: 27px;
      text-align: left;
      padding-left: 4px;
    }
  }
}

.reqeust-id {
  height: 58px;
  width: 100%;
  padding: 4px 3px;

  .label {
    width: 100%;
    padding-top: 5px;
    line-height: 1;
  }

  .data {
    width: 99%;
    line-height: 1.1;
    padding-left: 15px;
  }
}

label {
  cursor: default;

  &.container {
    display: block;
    position: relative;
    padding-left: 20px;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 5px;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked {
        &~.dip-icon-check {
          display: block;
        }
      }
    }

    .fake-input {
      position: absolute;
      width: 15px;
      height: 15px;
      border: 1px solid #747474;
      background-color: #E1E1E1;
      top: 5px;
      left: 0;
    }

    .dip-icon-check {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      font-size: 20px;
    }

    .data {
      float: right;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.pins-code {
  border: 1px solid #747474;
  margin-top: 1px;

  .pin-code {
    border-right: 1px solid #747474;
    background-color: #e1e1e1;
    width: 22px;
    height: 22px;
    float: left;
    text-align: center;
    line-height: 23px;
    font-size: 20px;

    &:last-child {
      border-right: 0;
    }
  }
}

.radios {
  float: left;
  margin-left: 5px;

  .caption {
    margin-right: 10px;
    font-size: 20px;
    float: left;
  }

  .container {
    float: left;
  }

  &.appellant {
    width: 800px;
  }

  &.agency {
    width: 800px;
  }

  &.id-type {
    width: 870px;
  }

  &.agency-type {
    .data {
      width: 185px;
    }
  }

  &.more-information {
    float: right;
    margin-right: 15px;
  }

  &.check-list {
    float: none;

    label {
      &.container {
        float: none;
      }
    }
  }
}

.data {
  float: left;
  padding: 0;
  position: relative;
  margin-left: 3px;
  margin-right: 2px;
  height: 26px;
  text-align: center;
  font-size: 20px;
  overflow: hidden;

  // background-image: url(../../../images/contents/pdf-bg-line.png);
  // background-image: url(../../../images/contents/pdf-bg-line.png);
  // background-image: url(../../../images/contents/pdf-bg-line.png);
  // background-repeat: repeat-y;
  // background-size: 100% 26px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 4px;
    height: 1px;
    width: 100%;
    left: 0;
    right: 0;
    background-color: #BEBEBE;
  }

  &.without-line {
    &:before {
      display: none;
    }
  }

  &.text-full {
    &.multi-line {
      text-decoration: underline;

      &::before {
        display: none;
      }
    }
  }
}

.label {
  font-size: 20px;
  float: left;
  // margin-left: 5px;
  // margin-right: 3px;
}

.detail {
  padding: 4px 0;
  border-bottom: 2px solid black;

  .number {
    font-size: 20px;
    float: left;
    width: 20px;
    padding-left: 3px;
    min-width: 10px;
  }

  .title {
    font-size: 20px;
    float: left;
    margin-right: 5px;
  }

  .pins-code {
    float: left;
    margin-right: 10px;
  }

  .label {
    padding-left: 5px;
    padding-right: 3px;
  }

  &.domestic-contact-address {
    .section-row {
      &.with-title {
        position: relative;
        word-break: break-word;
        -webkit-line-clamp: 2;
        height: 52px;
        overflow: hidden;

        &>* {
          z-index: 2;
          position: relative;
        }
      }
    }

    .data {
      width: 100%;
      text-align: left;

      &.connect-label {
        z-index: 1;
        text-indent: 670px;
        position: absolute;
        top: 0;
        left: 20px;
        right: 10px;
        word-break: break-word;
        -webkit-line-clamp: 2;
        height: 52px;
        text-align: left;
        margin: 0;
        width: auto;
        text-decoration: underline;
      }
    }
  }

  &.foreign-characters {
    .section-row {
      &.with-title {
        position: relative;
        word-break: break-word;
        -webkit-line-clamp: 2;
        height: 52px;
        overflow: hidden;

        &>* {
          z-index: 2;
          position: relative;
        }
      }

      &.additional {
        padding-left: 20px;
        padding-right: 5px;

        .text {
          font-size: 20px;
          float: left;
        }

        .container {
          float: right;
        }
      }
    }

    .data {
      width: 100%;
      text-align: left;

      &.connect-label {
        z-index: 1;
        text-indent: 460px;
        position: absolute;
        top: 0;
        left: 20px;
        right: 10px;
        word-break: break-word;
        -webkit-line-clamp: 2;
        height: 52px;
        text-align: left;
        margin: 0;
        width: auto;
        text-decoration: underline;
      }
    }
  }

  &.group-type {
    .section-row {
      &.with-title {
        position: relative;
        word-break: break-word;
        -webkit-line-clamp: 2;
        height: 52px;
        overflow: hidden;

        .data {
          &.group-type {
            width: 50px;
            margin-right: 8px;
          }

          &.connect-label {
            width: 100%;
            text-align: left;
            z-index: 1;
            text-indent: 270px;
            position: absolute;
            top: 0;
            left: 20px;
            right: 10px;
            word-break: break-word;
            -webkit-line-clamp: 2;
            height: 52px;
            text-align: left;
            margin: 0;
            width: auto;
            text-decoration: underline;
          }
        }

        &>* {
          z-index: 2;
          position: relative;
        }
      }

      &.additional {
        padding-left: 20px;
        padding-right: 5px;

        .text {
          font-size: 20px;
          float: left;
        }

        .container {
          float: right;
        }
      }
    }
  }

  &.mark-color-group {
    .section-row {
      &.with-title {
        .title {
          width: 850px;
        }
      }

      &.mark-color-detail {
        position: relative;
        word-break: break-word;
        -webkit-line-clamp: 4;
        height: 104px;
        overflow: hidden;
        padding-left: 20px;

        .data {
          &.group-type {
            width: 50px;
            margin-right: 8px;
          }

          &.connect-label {
            width: 100%;
            text-align: left;
            z-index: 1;
            text-indent: 415px;
            position: absolute;
            top: 0;
            left: 20px;
            right: 10px;
            word-break: break-word;
            -webkit-line-clamp: 4;
            height: 104px;
            text-align: left;
            margin: 0;
            width: auto;
            text-decoration: underline;
          }
        }

        &>* {
          z-index: 2;
          position: relative;
        }
      }

      &.additional {
        padding-left: 20px;
        padding-right: 5px;

        .container {
          float: right;
        }
      }

      &.not-protection {
        padding-left: 20px;
      }
    }
  }

  &.mark-shape-group {
    .section-row {
      &.with-title {
        .title {
          width: 850px;
        }
      }

      &.mark-shape-check {
        padding-left: 20px;
      }

      &.mark-shape-detail {
        position: relative;
        word-break: break-word;
        -webkit-line-clamp: 4;
        height: 104px;
        overflow: hidden;
        padding-left: 20px;
        margin-left: 20px;

        .text {
          font-size: 20px;
        }

        .data {
          &.group-type {
            width: 50px;
            margin-right: 8px;
          }

          &.connect-label {
            width: 100%;
            text-align: left;
            z-index: 1;
            text-indent: 215px;
            position: absolute;
            top: 0;
            left: 20px;
            right: 10px;
            word-break: break-word;
            -webkit-line-clamp: 4;
            height: 104px;
            text-align: left;
            margin: 0;
            width: auto;
            text-decoration: underline;
          }
        }

        &>* {
          z-index: 2;
          position: relative;
        }
      }

      &.additional {
        padding-left: 20px;
        padding-right: 5px;

        .container {
          float: right;
        }
      }

      &.not-protection {
        padding-left: 20px;
      }
    }
  }

  &.mark-detail {
    .section-column {
      float: left;

      &.with-title {
        width: 200px;
        height: 225px;
        position: relative;

        .section-row {
          &.sub-title {
            padding-left: 22px;
            font-size: 20px;
          }
        }

        .additional {
          position: absolute;
          bottom: 0;
          left: 22px;
        }
      }

      &.image {
        width: 270px;
        height: 225px;
        padding: 7px 15px;

        .image-border {
          width: 210px;
          height: 210px;
          margin: 0 auto;
          overflow: hidden;
          border: 1px solid black;

          .image {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
        }
      }

      &.sound-mark {
        width: 400px;
        height: 225px;

        .section-row {
          &.sub-title {
            padding-left: 22px;
            font-size: 20px;
            margin-top: 26px;
            padding-left: 13px;
          }

          &.heading {
            font-size: 20px;
          }

          &.pronunciation {
            width: 100%;

            .data {
              width: 100%;
              word-break: break-word;
              -webkit-line-clamp: 4;
              height: 88px;
              overflow: hidden;
              font-size: 20px;
              line-height: 22px;
            }
          }

          &.additional-sound {
            padding-top: 6px;

            .text {
              font-size: 20px;
              float: left;
            }

            .container {
              float: right;
            }
          }

          .container {
            float: left;
          }
        }
      }
    }
  }

  &.register-ten {
    .section-row {
      &.with-title {
        .title {
          width: 842px;
        }
      }
    }

    .number {
      width: 28px;
    }
  }

  &.otop-owner {
    .number {
      width: 28px;
    }

    .section-row {
      .text {
        float: left;
        font-size: 20px;
      }

      .radios {
        margin-left: 15px;
      }

      .otop-id {
        margin-left: 35px;
        float: left;

        .text {
          float: left;
        }

        .data {
          width: 200px;
        }
      }
    }
  }

  &.registration-document {
    .number {
      width: 28px;
    }
  }

  &.argeement {
    .number {
      width: 28px;
    }

    .section-row {
      .text {
        font-size: 20px;
      }

      .data {
        &.text-full {
          width: 100%;
          word-break: break-word;
          -webkit-line-clamp: 3;
          height: 78px;
          font-size: 20px;
          text-align: left;
        }
      }
    }
  }

  &.other {
    .section-row {
      .data {
        word-break: break-word;
        -webkit-line-clamp: 3;
        height: 78px;
      }
    }
  }

  &.signature {
    float: left;
    width: 100%;
    min-height: 80px;

    &>.section-column {
      float: right;
      padding: 0 5px;
      width: 20%;

      .signature-text {
        position: relative;

        .label {
          font-size: 8px;

          &.last {
            position: absolute;
            right: 0;
            height: 12px;
            top: 0;
            padding: 0 0 0 5px;
            background-color: white;
          }
        }

        .data {
          font-size: 8px;
          width: 70%;
          height: 15px;
        }
      }

      &.with-title {
        float: left;
        margin-top: 0;
      }
    }

    .section-row {
      padding: 0;
    }

    .data {
      width: 300px;
    }

    .signature-full-text {
      margin: 0 auto 5px;
      width: 100%;

      .label {
        font-size: 8px;
      }

      .data {
        font-size: 8px;
        width: 85%;
        height: 17px;
      }
    }
  }

  &.transfer-document {
    padding-bottom: 200px;
  }

  &.column-inside {
    &>.section-row {
      padding-left: 0;

      .section-column {
        width: 50%;
        border-right: 2px solid black;

        &.receiver {
          .section-row {
            .radios {
              &.owner {
                width: 290px;
              }
            }
          }
        }

        &:last-child {
          border-right: 0;
        }
      }
    }
  }

  &.document {
    .choice-input {
      padding-left: 25px;

      .section-column {
        width: 50%;
        float: left;

        .section-row {
          padding-left: 20px;
        }
      }
    }
  }

  &:last-child {
    border-bottom: 0;
  }
}

// .page-one {
//   .footer {
//     .pagination {
//       margin-top: 40px;
//     }
//   }
// }

// .page-two {
//   .footer {
//     .pagination {
//       margin-top: 25px;
//     }
//   }
// }
