div {
  box-sizing: border-box;
}

body {
  max-width: 895px;
  min-width: 895px;
  font-family: 'TH Sarabun New';
  font-weight: normal;
  line-height: 1.3;
  color: black;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

.header {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  padding-right: 5px;

  &.align-right {
    text-align: right;
  }
}

.body {
  width: 100%;
  border: 2px solid black;
}

.footer {
  font-size: 18px;

  .note {
    font-size: 18px;
    margin-left: 15px;
  }

  .signature {
    float: left;
    width: 100%;
    border: 0;

    >.section-row {
      float: right;
    }

    .data {
      width: 300px;
    }

    .signature-full-text {
      margin-left: 52px;
    }
  }

  .pagination {
    float: right;

    .label {
      font-size: 18px;
    }

    .data {
      width: 30px;
      font-size: 18px;
    }

    .unit {
      float: left;
      font-size: 18px;
    }
  }
}

.clearfix {
  &:after {
    content: '';
    clear: both;
    display: block;
  }
}

.section {
  float: left;
  width: 100%;

  .section-row {
    padding-left: 15px;

    &.with-title {
      padding-left: 0;
    }

    &.name {
      .data {
        width: 833px;
      }
    }

    &.address {
      .data {
        width: 825px;
      }

      .section-data-set {
        &.sub-district {
          .data {
            width: 222px;
          }
        }

        &.district {
          .data {
            width: 222px;
          }
        }

        &.province {
          .data {
            width: 216px;
          }
        }

        &.zip-code {
          .data {
            width: 131px;
          }
        }

        &.country {
          .data {
            width: 317px;
          }
        }

        &.nationality {
          .data {
            width: 216px;
          }
        }

        &.job {
          .data {
            width: 180px;
          }
        }

        &.mobile {
          .data {
            width: 135px;
          }
        }

        &.fax {
          .data {
            width: 135px;
          }
        }

        &.email {
          .data {
            width: 208px;
          }
        }
      }
    }

    &.text-full {
      .data {
        width: 856px;
        text-align: left;
      }
    }

    &.additional {
      margin: 5px 0;
      padding-left: 20px;
      padding-right: 5px;

      .text {
        font-size: 20px;
        float: left;
      }

      .container {
        float: right;
      }
    }
  }

  &.logo-and-officer-input {
    border-bottom: 2px solid black;
  }

  &.appellant {
    padding-bottom: 10px;
  }
}

.logo-wrapper {
  width: 580px;
  text-align: center;
  border-right: 2px solid black;
  height: 305px;
  float: left;

  .logo-wrapper-inner {
    padding-top: 60px;

    .logo {
      width: 100px;
    }

    .pdf-title {
      font-size: 28px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .mark-type {
      margin: 0 auto;

      .container {
        display: inline-block;
        font-size: 22px;
        margin-right: 15px;
        font-weight: bold;

        .span {
          font-size: 20px;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.officer-input {
  width: 310px;
  float: left;
  height: 305px;
  font-size: 20px;

  .caption {
    text-align: center;
    width: 100%;
    border-bottom: 2px solid black;
    height: 30px;
    padding-top: 3px;
  }
}

.reqeust-date {
  height: 58px;
  width: 100%;
  border-bottom: 2px solid black;
  padding: 4px 3px;

  .label {
    width: 100%;
    padding-top: 5px;
    line-height: 1;
  }

  .data {
    width: 99%;
    line-height: 1.1;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.fee-wrapper {
  padding: 4px 3px;
  height: 98px;
  border-bottom: 2px solid black;

  .fee {
    width: 100%;

    .label {
      float: left;
    }

    .data {
      float: left;
      padding: 0 5px;
      position: relative;
      width: 185px;
      margin-left: 3px;
      margin-right: 2px;
      height: 26px;
      text-align: center;

      &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 4px;
        height: 1px;
        width: 98%;
        left: 1%;
        right: 1%;
        background-color: #BEBEBE;
      }
    }

    .unit {
      float: left;
    }
  }

  .sign {
    width: 100%;
    margin-top: 15px;

    .label {
      float: left;
      width: 40px;
    }

    .data {
      float: left;
      padding: 0 5px;
      position: relative;
      width: 232px;
      margin-left: 2px;
      margin-right: 2px;
      height: 26px;
      text-align: center;

      &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 4px;
        height: 1px;
        width: 98%;
        left: 1%;
        right: 1%;
        background-color: #BEBEBE;
      }
    }

    .unit {
      float: left;
      width: 27px;
      text-align: right;
    }
  }

  .name {
    width: 100%;

    .label-first {
      float: left;
      width: 40px;
      text-align: right;
      padding-right: 4px;
    }

    .data {
      float: left;
      padding: 0 5px;
      position: relative;
      width: 232px;
      margin-left: 2px;
      margin-right: 2px;
      height: 26px;
      text-align: center;

      &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 4px;
        height: 1px;
        width: 98%;
        left: 1%;
        right: 1%;
        background-color: #BEBEBE;
      }
    }

    .label-last {
      float: left;
      width: 27px;
      text-align: left;
      padding-left: 4px;
    }
  }
}

.reqeust-id {
  height: 60px;
  width: 100%;
  padding: 4px 3px;
  border-bottom: 2px solid black;

  .label {
    width: 100%;
    padding-top: 5px;
    line-height: 1;
  }

  .data {
    width: 99%;
    line-height: 1.1;
    padding-left: 15px;
  }
}

.id {
  height: 60px;
  width: 100%;
  padding: 4px 3px;

  .label {
    width: 100%;
    padding-top: 5px;
    line-height: 1;
  }

  .data {
    width: 99%;
    line-height: 1.1;
    padding-left: 15px;
  }
}

label {
  cursor: default;

  &.container {
    display: block;
    position: relative;
    padding-left: 20px;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 5px;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked {
        &~.dip-icon-check {
          display: block;
        }
      }
    }

    .fake-input {
      position: absolute;
      width: 15px;
      height: 15px;
      border: 1px solid #747474;
      background-color: #E1E1E1;
      top: 5px;
      left: 0;
    }

    .dip-icon-check {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      font-size: 20px;
    }

    .data {
      float: right;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.pins-code {
  border: 1px solid #747474;
  margin-top: 1px;

  .pin-code {
    border-right: 1px solid #747474;
    background-color: #e1e1e1;
    width: 22px;
    height: 22px;
    float: left;
    text-align: center;
    line-height: 23px;
    font-size: 20px;

    &:last-child {
      border-right: 0;
    }
  }
}

.radios {
  float: left;
  margin-left: 5px;

  .caption {
    margin-right: 10px;
    font-size: 20px;
    float: left;
  }

  .container {
    float: left;
  }

  &.appellant {
    width: 800px;
  }

  &.agency {
    width: 800px;
  }

  &.id-type {
    width: 870px;
  }

  &.agency-type {
    .data {
      width: 185px;
    }
  }

  &.more-information {
    float: right;
    margin-right: 15px;
  }

  &.check-list {
    float: none;

    label {
      &.container {
        float: none;
      }
    }
  }
}

.data {
  float: left;
  padding: 0;
  position: relative;
  margin-left: 3px;
  margin-right: 2px;
  height: 26px;
  text-align: center;
  font-size: 20px;
  overflow: hidden;

  // background-image: url(../../../images/contents/pdf-bg-line.png);
  // background-image: url(../../../images/contents/pdf-bg-line.png);
  // background-image: url(../../../images/contents/pdf-bg-line.png);
  // background-repeat: repeat-y;
  // background-size: 100% 26px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 4px;
    height: 1px;
    width: 100%;
    left: 0;
    right: 0;
    background-color: #BEBEBE;
  }

  &.without-line {
    &:before {
      display: none;
    }
  }

  &.text-full {
    &.multi-line {
      text-decoration: underline;

      &::before {
        display: none;
      }
    }
  }
}

.label {
  font-size: 20px;
  float: left;
  // margin-left: 5px;
  // margin-right: 3px;
}

.detail {
  padding: 5px 0;
  border-bottom: 2px solid black;

  .number {
    font-size: 20px;
    float: left;
    width: 20px;
    padding-left: 3px;
  }

  .title {
    font-size: 20px;
    float: left;
    margin-right: 5px;
  }

  .pins-code {
    float: left;
    margin-right: 10px;
  }

  .label {
    padding-left: 5px;
    padding-right: 3px;
  }

  &.domestic-contact-address {
    .section-row {
      &.with-title {
        position: relative;
        word-break: break-word;
        -webkit-line-clamp: 2;
        height: 52px;
        overflow: hidden;

        &>* {
          z-index: 2;
          position: relative;
        }
      }
    }

    .data {
      width: 100%;
      text-align: left;

      &.connect-label {
        z-index: 1;
        text-indent: 670px;
        position: absolute;
        top: 0;
        left: 20px;
        right: 10px;
        word-break: break-word;
        -webkit-line-clamp: 2;
        height: 52px;
        text-align: left;
        margin: 0;
        width: auto;
        text-decoration: underline;
      }
    }
  }

  &.about-product {
    .choice-input {
      padding-left: 25px;

      .section-column {
        width: 52%;
        float: left;

        .section-row {
          padding-left: 20px;
          font-size: 20px;
          display: block;

          .text {
            float: left;
          }

          .data {
            float: left;
          }

          &>* {
            &:first-child {
              margin-left: 22px;
            }
          }
        }

        &.one {
          .section-row {
            &.group-id {
              .data {
                width: 70px;
              }
            }

            &.product-list {
              margin-bottom: 31px;

              .data {
                width: 40px;
              }
            }
          }
        }

        &.three {
          .section-row {
            &.group-id {
              .data {
                width: 70px;
              }
            }

            &.new-group-id {
              .data {
                width: 70px;

                &.product-list {
                  width: 40px;
                }
              }
            }

            &.summary {
              .data {
                width: 358px;
              }
            }
          }
        }

        &.two {
          .section-row {
            &.group-id {
              .data {
                width: 70px;
              }
            }

            &.product-list {
              .data {
                width: 40px;
              }
            }

            &.summary {
              .data {
                width: 300px;
              }
            }
          }
        }

        &.four {
          .section-row {
            &.group-id {
              .data {
                width: 70px;
              }
            }

            &.product-list {
              .data {
                width: 40px;
              }
            }

            &.summary {
              .data {
                width: 300px;
              }
            }

            &.text-full {
              .data {
                word-break: break-word;
                -webkit-line-clamp: 3;
                height: 78px;
                margin: 0;
                width: 100%;
              }
            }
          }
        }

        &:nth-child(2n-1) {
          width: 48%;
          padding-right: 15px;
        }
      }
    }
  }

  &.other {
    .section-row {
      .data {
        word-break: break-word;
        -webkit-line-clamp: 3;
        height: 78px;
      }
    }
  }

  &.signature {
    float: left;
    width: 100%;
    border: 0;
    min-height: 80px;

    &>.section-column {
      float: right;
      padding: 0 5px;
      width: 20%;

      .signature-text {
        position: relative;

        .label {
          font-size: 8px;

          &.last {
            position: absolute;
            right: 0;
            height: 12px;
            top: 0;
            padding: 0 0 0 5px;
            background-color: white;
          }
        }

        .data {
          font-size: 8px;
          width: 70%;
          height: 15px;
        }
      }

      &.with-title {
        float: left;
        margin-top: 0;
      }
    }

    .section-row {
      padding: 0;
    }

    .data {
      width: 300px;
    }

    .signature-full-text {
      margin: 0 auto 5px;
      width: 100%;

      .label {
        font-size: 8px;
      }

      .data {
        font-size: 8px;
        width: 85%;
        height: 17px;
      }
    }
  }

  &:last-child {
    border-bottom: 0;
  }
}

// .page-one {
//   .footer {
//     .pagination {
//       margin-top: 20px;
//     }
//   }
// }
