div {
  box-sizing: border-box;
}

body {
  max-width: 895px;
  min-width: 895px;
  font-family: 'TH Sarabun New';
  font-weight: normal;
  line-height: 1.3;
  color: black;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

.header {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  padding-right: 5px;

  &.align-right {
    text-align: right;
  }
}

.body {
  width: 100%;
  border: 2px solid black;
  max-height: 1285px;
}

.footer {
  font-size: 18px;

  .note {
    font-size: 18px;
    margin-left: 15px;
  }

  .pagination {
    float: right;

    .label {
      font-size: 18px;
    }

    .data {
      width: 30px;
      font-size: 18px;
    }

    .unit {
      float: left;
      font-size: 18px;
    }
  }
}

.clearfix {
  &:after {
    content: '';
    clear: both;
    display: block;
  }
}

.section {
  float: left;
  width: 100%;

  .section-row {
    padding-left: 15px;

    &.addition-form {
      margin: 0 auto;
      width: 90px;
      text-align: center;
      padding-left: 0;

      .data {
        width: 40px;
      }
    }
  }

  &.logo-and-officer-input {
    border-bottom: 2px solid black;
  }
}

.logo-wrapper {
  width: 580px;
  text-align: center;
  border-right: 2px solid black;
  height: 170px;
  float: left;

  .logo-wrapper-inner {
    padding-top: 10px;

    .logo {
      width: 70px;
    }

    .pdf-title {
      font-size: 28px;
      margin-top: 5px;
    }

    .mark-type {
      .container {
        display: inline-block;
        font-size: 22px;

        .span {
          font-size: 20px;
        }
      }
    }
  }
}

.officer-input {
  width: 310px;
  float: left;
  height: 170px;
  font-size: 20px;

  .caption {
    text-align: center;
    width: 100%;
    border-bottom: 2px solid black;
    height: 30px;
    padding-top: 3px;
  }
}

.reqeust-date {
  height: 58px;
  width: 100%;
  border-bottom: 2px solid black;
  padding: 4px 3px;

  .label {
    width: 100%;
    padding-top: 5px;
    line-height: 1;
  }

  .data {
    width: 99%;
    line-height: 1.1;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.reqeust-id {
  height: 58px;
  width: 100%;
  padding: 4px 3px;
  border-bottom: 2px solid black;

  .label {
    width: 100%;
    padding-top: 5px;
    line-height: 1;
  }

  .data {
    width: 99%;
    line-height: 1.1;
    padding-left: 15px;
  }
}

.id {
  height: 58px;
  width: 100%;
  padding: 4px 3px;

  .label {
    width: 100%;
    padding-top: 5px;
    line-height: 1;
  }

  .data {
    width: 99%;
    line-height: 1.1;
    padding-left: 15px;
  }
}

.data {
  float: left;
  padding: 0;
  position: relative;
  margin-left: 3px;
  margin-right: 2px;
  height: 26px;
  text-align: center;
  font-size: 20px;
  overflow: hidden;

  // background-image: url(../../../images/contents/pdf-bg-line.png);
  // background-image: url(../../../images/contents/pdf-bg-line.png);
  // background-image: url(../../../images/contents/pdf-bg-line.png);
  // background-repeat: repeat-y;
  // background-size: 100% 26px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 4px;
    height: 1px;
    width: 100%;
    left: 0;
    right: 0;
    background-color: #BEBEBE;
  }

  &.without-line {
    &:before {
      display: none;
    }
  }

  &.text-full {
    &.multi-line {
      text-decoration: underline;

      &::before {
        display: none;
      }
    }
  }
}

.label {
  font-size: 20px;
  float: left;
  // margin-left: 5px;
  // margin-right: 3px;
}

.detail {
  padding: 5px;
  border-bottom: 2px solid black;
  height: 963px;
  font-size: 20px;
  overflow: hidden;

  &.signature {
    float: left;
    width: 100%;
    border: 0;
    margin-top: 5px;
    height: 80px;

    &>.section-column {
      float: right;
      padding: 0 5px;
      width: 20%;

      .signature-text {
        position: relative;

        .label {
          font-size: 8px;

          &.last {
            position: absolute;
            right: 0;
            height: 12px;
            top: 0;
            padding: 0 0 0 5px;
            background-color: white;
          }
        }

        .data {
          font-size: 8px;
          width: 70%;
          height: 15px;
        }
      }

      &.with-title {
        float: left;
        margin-top: 0;
      }
    }

    .section-row {
      padding: 0;
    }

    .data {
      width: 300px;
    }

    .signature-full-text {
      margin: 0 auto 5px;
      width: 100%;

      .label {
        font-size: 8px;
      }

      .data {
        font-size: 8px;
        width: 85%;
        height: 17px;
      }
    }
  }

  &.main {
    div {
      padding-left: 15px;
    }

    &>div {
      padding-left: 0;
    }
  }

  &:last-child {
    border-bottom: 0;
  }
}
