div {
  box-sizing: border-box;
}

body {
  max-width: 895px;
  min-width: 895px;
  font-family: 'TH Sarabun New';
  font-weight: normal;
  line-height: 1.3;
  color: black;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

.header {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  padding-right: 5px;
  display: inline-block;

  .float-right {
    float: right;
  }

  .float-left {
    float: left;
  }
}

.body {
  width: 100%;
  border: 2px solid black;
}

.footer {
  font-size: 18px;

  .note {
    font-size: 18px;
  }

  .pagination {
    float: right;

    .label {
      font-size: 18px;
    }

    .data {
      width: 30px;
      font-size: 18px;
    }

    .unit {
      float: left;
      font-size: 18px;
    }
  }
}

.clearfix {
  &:after {
    content: '';
    clear: both;
    display: block;
  }
}

.signature {
  // float: left;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 80px;

  &:last-child {
    margin-bottom: 30px;
  }

  .data {
    width: 300px;
  }

  .signature-full-text {
    margin-left: 52px;
  }
}

.guarantee {
  width: 300px;
  height: 240px;
  text-align: center;
  border-top: 2px solid black;
  border-right: 2px solid black;
  padding-top: 15px;

  &:last-child {
    height: 272px;
  }

  .label {
    width: 100%;
  }
}

.section {
  float: left;
  width: 100%;

  .section-row {
    &.empty-space {
      margin-top: 30px;
    }

    &.with-title {
      padding-left: 0;
      text-align: center;
      margin-bottom: 30px;
      font-size: 22px;
    }

    &.description {
      text-indent: 45px;
    }

    &.address {
      .section-data-set {
        &.house-no {
          .data {
            width: 190px;
          }
        }

        &.lane {
          .data {
            width: 150px;
          }
        }

        &.road {
          .data {
            width: 150px;
          }
        }

        &.sub-district {
          .data {
            width: 175px;
          }
        }

        &.district {
          .data {
            width: 215px;
          }
        }

        &.province {
          .data {
            width: 230px;
          }
        }

        &.postal-code {
          .data {
            width: 230px;
          }
        }
      }
    }

    &.case-two-form {
      margin: 0 auto;
      width: 600px;

      .guarantee {
        border: 2px solid black;
        margin-bottom: 15px;
      }

      .signature {
        float: left;
        width: 50%;
        margin: 0;
        padding: 5px 10px;

        .data {
          width: 80%;
        }

        .signature-text {
          position: relative;

          .label {
            &.last {
              position: absolute;
              right: 0;
              height: 26px;
              top: 0;
              padding: 0 0 0 5px;
              background-color: white;
            }
          }
        }
      }

      .section-column {
        &:last-child {
          .guarantee {
            border-left: 0;
          }
        }
      }

      &.signatures {
        width: 100%;
      }
    }

    .section-data-set {
      &.name {
        margin-left: 45px;

        .data {
          width: 570px;
        }
      }

      &.nationality {
        .data {
          width: 158px;
        }
      }

      &.appointment {
        .data {
          width: 509px;
        }
      }

      &.date {
        text-indent: 45px;

        .data {
          width: 160px;
        }
      }

      &.month {
        .data {
          width: 218px;
        }
      }

      &.year {
        .data {
          width: 155px;
        }
      }
    }
  }

  .section-column {
    float: left;
  }
}

label {
  cursor: default;

  &.container {
    display: block;
    position: relative;
    padding-left: 20px;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 5px;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked {
        &~.dip-icon-check {
          display: block;
        }
      }
    }

    .fake-input {
      position: absolute;
      width: 15px;
      height: 15px;
      border: 1px solid #747474;
      background-color: #E1E1E1;
      top: 5px;
      left: 0;
    }

    .dip-icon-check {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      font-size: 20px;
    }

    .data {
      float: right;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.data {
  float: left;
  padding: 0;
  position: relative;
  margin-left: 3px;
  margin-right: 2px;
  height: 26px;
  text-align: center;
  font-size: 20px;
  overflow: hidden;

  // background-image: url(../../../images/contents/pdf-bg-line.png);
  // background-image: url(../../../images/contents/pdf-bg-line.png);
  // background-image: url(../../../images/contents/pdf-bg-line.png);
  // background-repeat: repeat-y;
  // background-size: 100% 26px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 4px;
    height: 1px;
    width: 100%;
    left: 0;
    right: 0;
    background-color: #BEBEBE;
  }

  &.without-line {
    &:before {
      display: none;
    }
  }

  &.text-full {
    &.multi-line {
      text-decoration: underline;

      &::before {
        display: none;
      }
    }
  }
}

.label {
  font-size: 20px;
  float: left;
}

.detail {
  padding: 5px 0;
  border-bottom: 2px solid black;

  .number {
    font-size: 20px;
    float: left;
    width: 20px;
    padding-left: 3px;
  }

  .title {
    font-size: 20px;
    float: left;
    margin-right: 5px;
  }

  .pins-code {
    float: left;
    margin-right: 10px;
  }

  .label {
    padding-left: 5px;
    padding-right: 3px;
  }

  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.page-one {
  .footer {
    text-align: center;

    .pagination {
      margin: 0 0 150px 0;
    }
  }
}
