div {
  box-sizing: border-box;
}

body {
  max-width: 895px;
  min-width: 895px;
  font-family: 'TH Sarabun New';
  font-weight: normal;
  line-height: 1.3;
  color: black;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

.header {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  padding-right: 5px;
  display: inline-block;
}

.header .float-right {
  float: right;
}

.header .float-left {
  float: left;
}

.body {
  width: 100%;
  border: 2px solid black;
}

.footer {
  font-size: 18px;
}

.footer .note {
  font-size: 18px;
}

.footer .pagination {
  float: right;
}

.footer .pagination .label {
  font-size: 18px;
}

.footer .pagination .data {
  width: 30px;
  font-size: 18px;
}

.footer .pagination .unit {
  float: left;
  font-size: 18px;
}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
}

.signature {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 80px;
}

.signature:last-child {
  margin-bottom: 30px;
}

.signature .data {
  width: 300px;
}

.signature .signature-full-text {
  margin-left: 52px;
}

.guarantee {
  width: 300px;
  height: 240px;
  text-align: center;
  border-top: 2px solid black;
  border-right: 2px solid black;
  padding-top: 15px;
}

.guarantee:last-child {
  height: 272px;
}

.guarantee .label {
  width: 100%;
}

.section {
  float: left;
  width: 100%;
}

.section .section-row.empty-space {
  margin-top: 30px;
}

.section .section-row.with-title {
  padding-left: 0;
  text-align: center;
  margin-bottom: 30px;
  font-size: 22px;
}

.section .section-row.description {
  text-indent: 45px;
}

.section .section-row.address .section-data-set.house-no .data {
  width: 190px;
}

.section .section-row.address .section-data-set.lane .data {
  width: 150px;
}

.section .section-row.address .section-data-set.road .data {
  width: 150px;
}

.section .section-row.address .section-data-set.sub-district .data {
  width: 175px;
}

.section .section-row.address .section-data-set.district .data {
  width: 215px;
}

.section .section-row.address .section-data-set.province .data {
  width: 230px;
}

.section .section-row.address .section-data-set.postal-code .data {
  width: 230px;
}

.section .section-row.case-two-form {
  margin: 0 auto;
  width: 600px;
}

.section .section-row.case-two-form .guarantee {
  border: 2px solid black;
  margin-bottom: 15px;
}

.section .section-row.case-two-form .signature {
  float: left;
  width: 50%;
  margin: 0;
  padding: 5px 10px;
}

.section .section-row.case-two-form .signature .data {
  width: 80%;
}

.section .section-row.case-two-form .signature .signature-text {
  position: relative;
}

.section .section-row.case-two-form .signature .signature-text .label.last {
  position: absolute;
  right: 0;
  height: 26px;
  top: 0;
  padding: 0 0 0 5px;
  background-color: white;
}

.section .section-row.case-two-form .section-column:last-child .guarantee {
  border-left: 0;
}

.section .section-row.case-two-form.signatures {
  width: 100%;
}

.section .section-row .section-data-set.name {
  margin-left: 45px;
}

.section .section-row .section-data-set.name .data {
  width: 570px;
}

.section .section-row .section-data-set.nationality .data {
  width: 158px;
}

.section .section-row .section-data-set.appointment .data {
  width: 509px;
}

.section .section-row .section-data-set.date {
  text-indent: 45px;
}

.section .section-row .section-data-set.date .data {
  width: 160px;
}

.section .section-row .section-data-set.month .data {
  width: 218px;
}

.section .section-row .section-data-set.year .data {
  width: 155px;
}

.section .section-column {
  float: left;
}

label {
  cursor: default;
}

label.container {
  display: block;
  position: relative;
  padding-left: 20px;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 5px;
}

label.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

label.container input:checked ~ .dip-icon-check {
  display: block;
}

label.container .fake-input {
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #747474;
  background-color: #E1E1E1;
  top: 5px;
  left: 0;
}

label.container .dip-icon-check {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  font-size: 20px;
}

label.container .data {
  float: right;
}

label.container:last-child {
  margin-right: 0;
}

.data {
  float: left;
  padding: 0;
  position: relative;
  margin-left: 3px;
  margin-right: 2px;
  height: 26px;
  text-align: center;
  font-size: 20px;
  overflow: hidden;
}

.data:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 4px;
  height: 1px;
  width: 100%;
  left: 0;
  right: 0;
  background-color: #BEBEBE;
}

.data.without-line:before {
  display: none;
}

.data.text-full.multi-line {
  text-decoration: underline;
}

.data.text-full.multi-line::before {
  display: none;
}

.label {
  font-size: 20px;
  float: left;
}

.detail {
  padding: 5px 0;
  border-bottom: 2px solid black;
}

.detail .number {
  font-size: 20px;
  float: left;
  width: 20px;
  padding-left: 3px;
}

.detail .title {
  font-size: 20px;
  float: left;
  margin-right: 5px;
}

.detail .pins-code {
  float: left;
  margin-right: 10px;
}

.detail .label {
  padding-left: 5px;
  padding-right: 3px;
}

.detail:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.page-one .footer {
  text-align: center;
}

.page-one .footer .pagination {
  margin: 0 0 150px 0;
}
