div {
  box-sizing: border-box;
}

body {
  max-width: 895px;
  min-width: 895px;
  font-family: 'TH Sarabun New';
  font-weight: normal;
  line-height: 1.3;
  color: black;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

.header {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  padding-right: 5px;
}

.header.align-right {
  text-align: right;
}

.body {
  width: 100%;
  border: 2px solid black;
}

.footer {
  font-size: 18px;
}

.footer .note {
  font-size: 18px;
  margin-left: 15px;
}

.footer .pagination {
  float: right;
}

.footer .pagination .label {
  font-size: 18px;
}

.footer .pagination .data {
  width: 30px;
  font-size: 18px;
}

.footer .pagination .unit {
  float: left;
  font-size: 18px;
}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
}

.section {
  float: left;
  width: 100%;
}

.section .section-row {
  padding-left: 15px;
}

.section .section-row.with-title {
  padding-left: 0;
}

.section .section-row.name .data {
  width: 833px;
}

.section .section-row.address .data {
  width: 825px;
}

.section .section-row.address .section-data-set.sub-district .data {
  width: 222px;
}

.section .section-row.address .section-data-set.district .data {
  width: 222px;
}

.section .section-row.address .section-data-set.province .data {
  width: 216px;
}

.section .section-row.address .section-data-set.zip-code .data {
  width: 131px;
}

.section .section-row.address .section-data-set.country .data {
  width: 317px;
}

.section .section-row.address .section-data-set.nationality .data {
  width: 216px;
}

.section .section-row.address .section-data-set.job .data {
  width: 180px;
}

.section .section-row.address .section-data-set.mobile .data {
  width: 135px;
}

.section .section-row.address .section-data-set.fax .data {
  width: 135px;
}

.section .section-row.address .section-data-set.email .data {
  width: 208px;
}

.section .section-row.text-full .data {
  width: 856px;
  text-align: left;
}

.section.logo-and-officer-input {
  border-bottom: 2px solid black;
}

.section.appellant {
  padding-bottom: 10px;
}

.logo-wrapper {
  width: 580px;
  text-align: center;
  border-right: 2px solid black;
  height: 315px;
  float: left;
}

.logo-wrapper .logo-wrapper-inner {
  padding-top: 125px;
}

.logo-wrapper .logo-wrapper-inner .logo {
  width: 100px;
}

.logo-wrapper .logo-wrapper-inner .pdf-title {
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo-wrapper .logo-wrapper-inner .mark-type .container {
  font-size: 22px;
  float: left;
  clear: both;
  margin-left: 200px;
}

.logo-wrapper .logo-wrapper-inner .mark-type .container .span {
  font-size: 20px;
}

.officer-input {
  width: 310px;
  float: left;
  height: 315px;
  font-size: 20px;
}

.officer-input .caption {
  text-align: center;
  width: 100%;
  border-bottom: 2px solid black;
  height: 30px;
  padding-top: 3px;
}

.reqeust-date {
  height: 58px;
  width: 100%;
  border-bottom: 2px solid black;
  padding: 4px 3px;
}

.reqeust-date .label {
  width: 100%;
  padding-top: 5px;
  line-height: 1;
}

.reqeust-date .data {
  width: 99%;
  line-height: 1.1;
  padding-left: 15px;
  padding-right: 15px;
}

.fee-wrapper {
  padding: 4px 3px;
  height: 113px;
  border-bottom: 2px solid black;
}

.fee-wrapper .fee {
  width: 100%;
}

.fee-wrapper .fee .label {
  float: left;
}

.fee-wrapper .fee .data {
  float: left;
  padding: 0 5px;
  position: relative;
  width: 185px;
  margin-left: 3px;
  margin-right: 2px;
  height: 26px;
  text-align: center;
}

.fee-wrapper .fee .data:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 4px;
  height: 1px;
  width: 98%;
  left: 1%;
  right: 1%;
  background-color: #BEBEBE;
}

.fee-wrapper .fee .unit {
  float: left;
}

.fee-wrapper .sign {
  width: 100%;
  margin-top: 30px;
}

.fee-wrapper .sign .label {
  float: left;
  width: 40px;
}

.fee-wrapper .sign .data {
  float: left;
  padding: 0 5px;
  position: relative;
  width: 232px;
  margin-left: 2px;
  margin-right: 2px;
  height: 26px;
  text-align: center;
}

.fee-wrapper .sign .data:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 4px;
  height: 1px;
  width: 98%;
  left: 1%;
  right: 1%;
  background-color: #BEBEBE;
}

.fee-wrapper .sign .unit {
  float: left;
  width: 27px;
  text-align: right;
}

.fee-wrapper .name {
  width: 100%;
}

.fee-wrapper .name .label-first {
  float: left;
  width: 40px;
  text-align: right;
  padding-right: 4px;
}

.fee-wrapper .name .data {
  float: left;
  padding: 0 5px;
  position: relative;
  width: 232px;
  margin-left: 2px;
  margin-right: 2px;
  height: 26px;
  text-align: center;
}

.fee-wrapper .name .data:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 4px;
  height: 1px;
  width: 98%;
  left: 1%;
  right: 1%;
  background-color: #BEBEBE;
}

.fee-wrapper .name .label-last {
  float: left;
  width: 27px;
  text-align: left;
  padding-left: 4px;
}

.reqeust-id {
  height: 58px;
  width: 100%;
  padding: 4px 3px;
}

.reqeust-id .label {
  width: 100%;
  padding-top: 5px;
  line-height: 1;
}

.reqeust-id .data {
  width: 99%;
  line-height: 1.1;
  padding-left: 15px;
}

.registration-id {
  height: 58px;
  width: 100%;
  padding: 4px 3px;
}

.registration-id .label {
  width: 100%;
  padding-top: 5px;
  line-height: 1;
}

.registration-id .data {
  width: 99%;
  line-height: 1.1;
  padding-left: 15px;
}

label {
  cursor: default;
}

label.container {
  display: block;
  position: relative;
  padding-left: 20px;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 5px;
}

label.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

label.container input:checked ~ .dip-icon-check {
  display: block;
}

label.container .fake-input {
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #747474;
  background-color: #E1E1E1;
  top: 5px;
  left: 0;
}

label.container .dip-icon-check {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  font-size: 20px;
}

label.container .data {
  float: right;
}

label.container:last-child {
  margin-right: 0;
}

.pins-code {
  border: 1px solid #747474;
  margin-top: 1px;
}

.pins-code .pin-code {
  border-right: 1px solid #747474;
  background-color: #e1e1e1;
  width: 22px;
  height: 22px;
  float: left;
  text-align: center;
  line-height: 23px;
  font-size: 20px;
}

.pins-code .pin-code:last-child {
  border-right: 0;
}

.radios {
  float: left;
  margin-left: 5px;
}

.radios .caption {
  margin-right: 10px;
  font-size: 20px;
  float: left;
}

.radios .container {
  float: left;
}

.radios.appellant {
  width: 800px;
}

.radios.agency {
  width: 800px;
}

.radios.id-type {
  width: 870px;
}

.radios.agency-type .data {
  width: 185px;
}

.radios.more-information {
  float: right;
  margin-right: 15px;
}

.radios.check-list {
  float: none;
}

.radios.check-list label.container {
  float: none;
}

.data {
  float: left;
  padding: 0;
  position: relative;
  margin-left: 3px;
  margin-right: 2px;
  height: 26px;
  text-align: center;
  font-size: 20px;
  overflow: hidden;
}

.data:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 4px;
  height: 1px;
  width: 100%;
  left: 0;
  right: 0;
  background-color: #BEBEBE;
}

.data.without-line:before {
  display: none;
}

.data.text-full.multi-line {
  text-decoration: underline;
}

.data.text-full.multi-line::before {
  display: none;
}

.label {
  font-size: 20px;
  float: left;
}

.detail {
  padding: 5px 0;
  border-bottom: 2px solid black;
}

.detail .number {
  font-size: 20px;
  float: left;
  width: 20px;
  padding-left: 3px;
}

.detail .title {
  font-size: 20px;
  float: left;
  margin-right: 5px;
}

.detail .pins-code {
  float: left;
  margin-right: 10px;
}

.detail .label {
  padding-left: 5px;
  padding-right: 3px;
}

.detail.other .section-row .data {
  word-break: break-word;
  -webkit-line-clamp: 3;
  height: 78px;
}

.detail.signature {
  float: left;
  width: 100%;
  border: 0;
  margin-bottom: 10px;
  min-height: 80px;
}

.detail.signature > .section-column {
  float: right;
  padding: 0 5px;
  width: 20%;
  margin-top: 20px;
}

.detail.signature > .section-column .signature-text {
  position: relative;
}

.detail.signature > .section-column .signature-text .label {
  font-size: 8px;
}

.detail.signature > .section-column .signature-text .label.last {
  position: absolute;
  right: 0;
  height: 12px;
  top: 0;
  padding: 0 0 0 5px;
  background-color: white;
}

.detail.signature > .section-column .signature-text .data {
  font-size: 8px;
  width: 70%;
  height: 15px;
}

.detail.signature > .section-column.with-title {
  float: left;
  margin-top: 0;
}

.detail.signature .section-row {
  padding: 0;
}

.detail.signature .data {
  width: 300px;
}

.detail.signature .signature-full-text {
  margin: 0 auto 5px;
  width: 100%;
}

.detail.signature .signature-full-text .label {
  font-size: 8px;
}

.detail.signature .signature-full-text .data {
  font-size: 8px;
  width: 85%;
  height: 17px;
}

.detail.full-other .section-row .data {
  word-break: break-word;
  height: auto;
  min-height: 78px;
}

.detail.license {
  position: relative;
}

.detail.license .text {
  float: left;
  font-size: 20px;
}

.detail.license .text.spacing {
  margin-left: 20px;
}

.detail.license .data {
  text-align: left;
}

.detail.license .data.proposal {
  width: 300px;
}

.detail.license .with-title {
  float: left;
}

.detail.license .time-number {
  float: left;
  padding-left: 5px;
}

.detail.license .time-number .data {
  width: 100%;
  text-align: left;
}

.detail.license .time-number .data.time {
  width: 150px;
}

.detail.license .time-number .data.connect-label {
  z-index: 1;
  text-indent: 630px;
  position: absolute;
  top: 0;
  left: 20px;
  right: 10px;
  word-break: break-word;
  -webkit-line-clamp: 3;
  height: 78px;
  text-align: left;
  margin: 0;
  width: auto;
  text-decoration: underline;
}

.detail.license .request-amount {
  float: left;
  position: relative;
  word-break: break-word;
  -webkit-line-clamp: 3;
  height: 78px;
  overflow: hidden;
  width: 100%;
}

.detail.license .request-amount .data {
  width: 100%;
  text-align: left;
}

.detail.license .request-amount .data.request-amount {
  width: 100px;
}

.detail.license .request-amount .data.connect-label {
  z-index: 1;
  text-indent: 230px;
  position: absolute;
  top: 0;
  left: 20px;
  right: 10px;
  word-break: break-word;
  -webkit-line-clamp: 3;
  height: 78px;
  text-align: left;
  margin: 0;
  width: auto;
  text-decoration: underline;
}

.detail:last-child {
  border-bottom: 0;
}

.page-one .footer .pagination {
  margin-top: 20px;
}
