body {
  max-width: 890px;
  font-family: "TH Sarabun New";
  font-size: 25px;
  font-weight: normal;
  color: black;
  margin: 0 auto;
  border: 1px solid #000;
  height: 1300px;
  display: block;
}

body * {
  vertical-align: top;
}

body .absolute {
  position: absolute;
}

body .bold {
  font-weight: bold;
}

body .center {
  text-align: center;
}

body .right {
  text-align: right;
}

body .line {
  display: block;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid;
  clear: both;
}

body .clear {
  clear: both;
}

body .paragraph {
  text-indent: 35px;
}

body table {
  border-collapse: collapse;
}

body table td {
  padding-left: 8px;
  padding-right: 8px;
}

body .float-left {
  float: left;
}

body .float-right {
  float: right;
}

body .underline {
  text-decoration: underline;
}

body .underline-dotted {
  border-bottom: 1px dotted;
  line-height: 36px;
  height: 23px;
  display: inline-block;
  text-align: center;
}

body .footer {
  position: absolute;
  bottom: 0px;
}

body .barcode {
  position: absolute;
  top: 75px;
  left: 100px;
}

body .barcode .pic {
  height: 46px;
  width: 220px;
}

body .barcode .pic img {
  width: 100%;
  height: 100%;
}

body .barcode .number {
  text-align: center;
}

body .header {
  padding: 5px 20px;
  position: relative;
}

body .header .img-logo {
  left: 45%;
  transform: translate(-100%, 0);
}

body .header .img-logo img {
  width: 120px;
}

body .header .img-logo .title {
  margin-top: 20px;
}

body .header .topic {
  display: flex;
  justify-content: space-between;
}

body .header .address {
  float: right;
}

body .body {
  padding: 0px 30px;
}

body .body .title {
  margin: 35px 25px;
  text-decoration: underline;
}

body .body .div_content_01 {
  margin-top: 30px;
}

body .body .div_content_02 {
  margin-left: 50px;
}
