body {
  max-width: 890px;
  font-family: "TH Sarabun New";
  font-size: 25px;

  font-weight: normal;

  color: black;
  margin: 0 auto;
  border: 1px solid #000;
  height: 1300px;
  display: block;

  * {
    vertical-align: top;
  }

  .absolute {
    position: absolute;
  }

  .bold {
    font-weight: bold;
  }

  .center {
    text-align: center;
  }

  .right {
    text-align: right;
  }

  .line {
    display: block;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid;
    clear: both;
  }

  .clear {
    clear: both;
  }

  .paragraph {
    text-indent: 35px;
  }

  table {
    border-collapse: collapse;
    td {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  .float-left {
    float: left;
  }

  .float-right {
    float: right;
  }

  .underline {
    text-decoration: underline;
  }

  .underline-dotted {
    border-bottom: 1px dotted;
    line-height: 36px;
    height: 23px;
    display: inline-block;
    text-align: center;
  }

  .footer {
    position: absolute;
    bottom: 0px;
  }
}

body {
  .barcode {
    position: absolute;
    top: 75px;
    left: 100px;

    .pic {
      height: 46px;
      width: 220px;

      img {
        width: 100%;
        height: 100%;
      }
    }
    .number {
      text-align: center;
    }
  }

  // padding: 5px 20px;

  // .information {
  //   margin-top: 25px;
  //   margin-bottom: 30px;

  //   & > div {
  //     display: inline-block;
  //   }

  .header {
    padding: 5px 20px;
    position: relative;

    .img-logo {
      // margin-left: calc(50% - 60px);
      left: 45%;
      transform: translate(-100%, 0);
      img {
        width: 120px;
      }

      .title {
        margin-top: 20px;
      }
    }

    .topic {
      display: flex;
      justify-content: space-between;
    }
    // .header-list {
    //   & > div {
    //     display: inline-block;

    .address {
      float: right;
    }

    //     .cornor-right-top {
    //     }
    //   }
    // }
  }
  //   .header-left {
  //     width: 250px;
  //     // margin-left: 50px;
  //   }

  //   .header-right {
  //     //     margin-top: 75px;
  //     margin-left: 110px;
  //   }
  .body {
    padding: 0px 30px;

    .title {
      margin: 35px 25px;
      text-decoration: underline;
    }

    .div_content_01 {
      margin-top: 30px;
    }

    .div_content_02 {
      margin-left: 50px;
    }
  }

  // .detail {
  //   margin-top: 20px;

  //   table {
  //     width: 100%;
  //     td {
  //       border: 1px solid;

  //       &.index {
  //         text-align: center;
  //         width: 20px;
  //       }
  //       &.code {
  //         text-align: center;
  //         width: 50px;
  //       }
  //     }
  //   }
  // }
  // }

  // .footer {
  //   .underline-dotted {
  //     width: 200px;
  //   }
  // }
}
