<div class="main-panel">
    <ng-container>
      <div class="container-fluid">
        <div class="row">
          <div class="page-title">
            <a class="navbar-brand" routerLink="/">กลุ่มเจ้าหน้าที่รับคำขอ</a>|  - กลุ่มเจ้าหน้าที่รับคำขอ
          </div>
        </div>
        <div class="cate-title">
          <h4>งานทั้งหมด</h4>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let item of allList">
              <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">{{ item.icon }}</i>
                  </div>
                  <h3 class="card-title">{{ item.title }}
                    </h3>
                  <p class="card-category">{{ item.description }}</p>
                      <div class="card w-75">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6"> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                              <h5 class="card-title">100</h5>
                            </div>
                          </div>  
                        </div>
                      </div>
                </div>
              </div>
            </div>
        </div>
        <hr>
        <div class="cate-title">
          <h4>งานรับคำร้อง</h4>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let item of requestList">
              <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">{{ item.icon }}</i>
                  </div>
                  <h3 class="card-title">{{ item.title }}
                    </h3>
                  <p class="card-category">{{ item.description }}</p>
                      <div class="card w-75">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6"> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                              <h5 class="card-title">100</h5>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                </div>
              </div>
            </div>
        </div>
        <hr>
        <div class="cate-title">
          <h4>งานบันทึกข้อมูล</h4>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let item of saveformList">
              <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">{{ item.icon }}</i>
                  </div>
                  <h3 class="card-title">{{ item.title }}
                    </h3>
                  <p class="card-category">{{ item.description }}</p>
                      <div class="card w-75">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6"> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                              <h5 class="card-title">100</h5>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </ng-container>
