<div class="wrapper" id="mySidebar">
    <div class="sidebar" data-color="purple" data-background-color="white">
    <div id="toggleMenu">
        <div class="list"></div>
        <div class="thumbs"></div>    
    </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item active ">
                <a class="nav-link" href="#0">
                <i class="material-icons">home</i>
                <p>Home</p>
                </a>
            </li>
          <!-- your sidebar here -->
        </ul>
      </div>
    </div>
    <app-header></app-header>
</div>
    